<app-header></app-header>
<div class="d-xs-block d-md-none">
  <div id="grandContainerM">
    <div id="containerTitleM">
      <h1> Área do Usuário</h1>
    </div>
    <div id="formularioMobile">
      <div id="photoM">
        <img class="ImgEvento" src="../../../../assets/Elementos/IconFormulario.png">
        <button id="btnInserirFotoM">Editar</button>
      </div>
      <div id="grandContainerInputsM">
        <div id="containerLeftInputsM">
          <form id="containerlittle-inputleftM">
            <fieldset class="formFieldsetM">
              <legend class="legendM">Nome do Evento</legend>
              <input type="text" placeholder="Nome de Usuário" class="textFormM" formControlName="nomeEvento"
                minlength="3" maxlength="45">
            </fieldset>

            <fieldset class="formFieldsetM">
              <legend class="legendM">E-mail</legend>
              <input type="text" placeholder="email@gmail.com" class="textFormM" formControlName="nomeEvento"
                minlength="3" maxlength="45">
            </fieldset>
          </form>
        </div>

        <div id="containerRightInputsM">
          <form id="containerlittle-inputRightM">
            <fieldset class="formFieldsetM">
              <legend class="legendM">Telefone</legend>
              <input type="text" placeholder="+55 11 9xxxx-xxxx" class="textFormM" formControlName="nomeEvento"
                minlength="3" maxlength="45">
            </fieldset>

            <fieldset class="formFieldsetM">
              <legend class="legendM">Data de Nascimento</legend>
              <input type="date" placeholder="Qual dia acontecerá seu evento?" class="textFormM"
                formControlName="dataEvento">
            </fieldset>
          </form>
        </div>
      </div>
      <div id="containerBtnCriarEventoM">
        <button mat-stroked-button id="btnCriarEventoM">Salvar</button>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>

<div class="d-none d-md-block d-xl-none ">
  <div id="grandContainer">
    <div id="containerTitle">
      <h1 id="titleDesktop">Área do Usuário</h1>
    </div>
    <div id="containerDesktop">
      <section id="containerImgEvento">
        <img class="ImgEvento" src="../../../../assets/Elementos/IconFormulario.png">
        <button id="btnInserirFoto">Editar</button>
      </section>
      <div id="grandContainerInputs">
        <div id="containerLeftInputs">
          <form id="containerlittle-inputleftLG">
            <fieldset class="formFieldsetLG">
              <legend class="legendT">Nome do Evento</legend>
              <input type="text" placeholder="Nome de Usuário" class="textFormT" formControlName="nomeEvento"
                minlength="3" maxlength="45">
            </fieldset>

            <fieldset class="formFieldsetLG">
              <legend class="legendT">E-mail</legend>
              <input type="text" placeholder="email@gmail.com" class="textFormT" formControlName="nomeEvento"
                minlength="3" maxlength="45">
            </fieldset>
          </form>
        </div>

        <div id="containerRightInputs">
          <form id="containerlittle-inputRightLG">
            <fieldset class="formFieldsetLG">
              <legend class="legendT">Telefone</legend>
              <input type="text" placeholder="+55 11 9xxxx-xxxx" class="textFormT" formControlName="nomeEvento"
                minlength="3" maxlength="45">
            </fieldset>

            <fieldset class="formFieldsetLG">
              <legend class="legendT">Data de Nascimento</legend>
              <input type="date" placeholder="Qual dia acontecerá seu evento?" class="textFormT"formControlName="dataEvento">
            </fieldset>
          </form>
        </div>
      </div>
      <div id="containerBtnCriarEvento">
        <button mat-stroked-button id="btnCriarEvento">Salvar</button>
      </div>
    </div>
</div>
<app-footer></app-footer>
</div>


  <div class="d-none d-xl-block d-xxl-block">
    <div id="grandContainer">
      <div id="containerTitle">
        <h1 id="titleDesktop">Área do Usuário</h1>
      </div>
      <div id="containerDesktop">
        <section id="containerImgEvento">
          <img class="ImgEvento" src="../../../../assets/Elementos/IconFormulario.png">
          <button id="btnInserirFoto">Editar</button>
        </section>
        <div id="grandContainerInputs">
          <div id="containerLeftInputs">
            <form id="containerlittle-inputleftLG">
              <fieldset class="formFieldsetLG">
                <legend class="legendLG">Nome do Evento</legend>
                <input type="text" placeholder="Nome de Usuário" class="textFormLG" formControlName="nomeEvento"
                  minlength="3" maxlength="45">
              </fieldset>

              <fieldset class="formFieldsetLG">
                <legend class="legendLG">E-mail</legend>
                <input type="text" placeholder="email@gmail.com" class="textFormLG" formControlName="nomeEvento"
                  minlength="3" maxlength="45">
              </fieldset>
            </form>
          </div>

          <div id="containerRightInputs">
            <form id="containerlittle-inputRightLG">
              <fieldset class="formFieldsetLG">
                <legend class="legendLG">Telefone</legend>
                <input type="text" placeholder="+55 11 9xxxx-xxxx" class="textFormLG" formControlName="nomeEvento"
                  minlength="3" maxlength="45">
              </fieldset>

              <fieldset class="formFieldsetLG">
                <legend class="legendLG">Data de Nascimento</legend>
                <input type="date" placeholder="Qual dia acontecerá seu evento?" class="textFormLG"
                  formControlName="dataEvento">
              </fieldset>
            </form>
          </div>
        </div>
        <div id="containerBtnCriarEvento">
          <button mat-stroked-button id="btnCriarEvento">Salvar</button>
        </div>
      </div>
    </div>

    <app-footer></app-footer>