<app-header></app-header>
<div class="d-xs-block d-md-none">
  <div id="grandContainerM">
    <div id="containerTitleM">
      <h1>Área do Usuário</h1>
    </div>
    <div id="formularioMobile">
      <div id="photoM">
        <img class="ImgEvento" src="../../../../assets/Elementos/IconFormulario.png">
        <button id="btnInserirFotoM">Editar</button>
      </div>
      <div id="grandContainerInputsM">
        <div id="containerLeftInputsM">
          <form id="containerlittle-inputleftM">
            <fieldset class="formFieldsetM">
              <legend class="legendM">Nome do Organizador</legend>
              <input type="text" placeholder="Nome de Usuário" class="textFormM" [(ngModel)]="nomeOrganizador" readonly>
            </fieldset>

            <fieldset class="formFieldsetM">
              <legend class="legendM">E-mail</legend>
              <input type="text" placeholder="email@gmail.com" class="textFormM" [(ngModel)]="emailOrganizador"
                readonly>
            </fieldset>
          </form>
        </div>

        <div id="containerRightInputsM">
          <form id="containerlittle-inputRightM">
            <fieldset class="formFieldsetM">
              <legend class="legendM">Telefone</legend>
              <input type="text" placeholder="+55 11 9xxxx-xxxx" class="textFormM" [(ngModel)]="contatoOrganizador"
                readonly>
            </fieldset>

            <fieldset class="formFieldsetM">
              <legend class="legendM">Data de Nascimento</legend>
              <input type="date" class="textFormM" [value]="dataNascimento" readonly>
            </fieldset>
          </form>
        </div>
      </div>
      <div id="containerBtnCriarEventoM">
        <button mat-stroked-button id="btnCriarEventoM">Salvar</button>
      </div>
    </div>
  </div>
</div>

<div class="d-none d-md-block d-xl-none">
  <div id="grandContainer">
    <div id="containerTitle">
      <h1 id="titleDesktop">Área do Usuário</h1>
    </div>
    <div id="containerDesktop">
      <section id="containerImgEvento">
        <img class="ImgEvento" [src]="fotoOrganizador" alt="Foto do Organizador">
        <button id="btnInserirFoto" disabled>Editar</button>
      </section>
      <div id="grandContainerInputs">
        <div id="containerLeftInputs">
          <form id="containerlittle-inputleftLG">
            <fieldset class="formFieldsetLG">
              <legend class="legendLG">Nome do Organizador</legend>
              <input type="text" placeholder="Nome de Usuário" class="textFormT" [(ngModel)]="nomeOrganizador" readonly>
            </fieldset>

            <fieldset class="formFieldsetLG">
              <legend class="legendLG">E-mail</legend>
              <input type="text" placeholder="email@gmail.com" class="textFormT" [(ngModel)]="emailOrganizador"
                readonly>
            </fieldset>
          </form>
        </div>

        <div id="containerRightInputs">
          <form id="containerlittle-inputRightLG">
            <fieldset class="formFieldsetLG">
              <legend class="legendLG">Telefone</legend>
              <input type="text" placeholder="+55 11 9xxxx-xxxx" class="textFormT" [(ngModel)]="contatoOrganizador"
                readonly>
            </fieldset>

            <fieldset class="formFieldsetLG">
              <legend class="legendLG">Data de Nascimento</legend>
              <input type="date" class="textFormT" [value]="dataNascimento" readonly>
            </fieldset>
          </form>
        </div>
      </div>
      <div id="containerBtnCriarEvento">
        <button mat-stroked-button id="btnCriarEvento" disabled>Salvar</button>
      </div>
    </div>
  </div>
</div>

<div class="d-none d-xl-block d-xxl-block">
  <div id="grandContainer">
    <div id="containerTitle">
      <h1 id="titleDesktop">Área do Usuário</h1>
    </div>
    <div id="containerDesktop">
      <section id="containerImgEvento">
        <img class="ImgEvento" src="../../../../assets/Elementos/IconFormulario.png">
        <button id="btnInserirFoto">Editar</button>
      </section>
      <div id="grandContainerInputs">
        <div id="containerLeftInputs">
          <form id="containerlittle-inputleftLG">
            <fieldset class="formFieldsetLG">
              <legend class="legendLG">Nome do Organizador</legend>
              <input type="text" placeholder="Nome de Usuário" class="textFormLG" [value]="nomeOrganizador"
                >
            </fieldset>

            <fieldset class="formFieldsetLG">
              <legend class="legendLG">E-mail</legend>
              <input type="text" placeholder="email@gmail.com" class="textFormLG" [value]="emailOrganizador"
                >
            </fieldset>
          </form>
        </div>

        <div id="containerRightInputs">
          <form id="containerlittle-inputRightLG">
            <fieldset class="formFieldsetLG">
              <legend class="legendLG">Telefone</legend>
              <input type="text" placeholder="+55 11 9xxxx-xxxx" class="textFormLG" [value]="contatoOrganizador"
                >
            </fieldset>

            <fieldset class="formFieldsetLG">
              <legend class="legendLG">Data de Nascimento</legend>
              <input type="date" placeholder="Qual dia acontecerá seu evento?" class="textFormLG"
                [value]="dataNascimento" >
            </fieldset>
          </form>
        </div>
      </div>
      <div id="containerBtnCriarEvento">
        <button mat-stroked-button id="btnCriarEvento">Salvar</button>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>