<div class="d-xs-block d-lg-none" id="background">
  <div class="card">
    <section id="container-Title">
      <!-- Exibe o nome do evento -->
      <div id="container-name-mobile">
        <h1 id="h1-mobile">{{ evento?.nomeEvento }}</h1>
        <div class="imgfotoEvento-mobile">
          <img class="img-fluid img-evento-mobile" src="../../../assets/Elementos/imgEventoExistente.svg">
        </div>
      </div>

      <section>
        <div id="container-Infos">

          <span>
            <p><b>Data:</b> {{ evento?.dataEvento | date: 'dd/MM/yyyy' }}</p>
          </span>


          <span>
            <p><b>Local do evento:</b> {{ evento?.localEvento }}</p>
          </span>


          <span>
            <p><b>Horário de início:</b> {{ evento?.horarioInicio }}</p>
          </span>


          <span>
            <p><b>Horário de término:</b> {{ evento?.horarioFim }}</p>
          </span>


          <span>
            <p><b>Tipo:</b> {{ evento?.tipoEvento }}</p>
          </span>
        </div>

        <div *ngIf="evento?.incluirTarefas">
          <div id="container-Titletarefas" class="pt-3">
            <h3><label for="btnEditar">Tarefas</label></h3>
            <div id="container-btnaddTarefa">
              <button id="btnEditar" (click)="abrirFormularioTarefa()" name="btnEditar">+</button>
            </div>
          </div>

          <div *ngIf="mostrarFormularioTarefa">
            <form (ngSubmit)="cadastrarTarefa()">
              <div id="overlay" *ngIf="mostrarFormularioTarefa"></div>

              <div id="container-Tarefas" *ngIf="mostrarFormularioTarefa">
                <div class="container-InputTarefa">
                  <fieldset id="fieldset1">
                    <legend for="nomeTarefa">Tarefa</legend>
                    <input type="text" class="inputTarefa" [(ngModel)]="novaTarefa.nomeTarefa"
                      placeholder="Nome da tarefa" name="nomeTarefa" required>
                  </fieldset>
                </div>
                <!-- Exibe o campo "Fornecedor" somente se fornecedores for true -->
                <div *ngIf="evento?.fornecedores" class="container-InputTarefa">
                  <fieldset>
                    <legend for="fornecedor">Fornecedor</legend>
                    <input type="text" class="inputTarefa" [(ngModel)]="novaTarefa.fornecedor"
                      placeholder="Nome do fornecedor" name="fornecedor">
                  </fieldset>
                </div>
                <div class="container-InputTarefa">
                  <fieldset>
                    <legend for="valor">Valor</legend>
                    <input type="number" class="inputTarefa" [(ngModel)]="novaTarefa.valor" placeholder="R$1000.00"
                      name="valor" required>
                  </fieldset>
                </div>

                <div id="container-btnTarefa">
                  <button class="btnTarefas" type="submit">Enviar</button>
                </div>
                <div id="container-btnCancelar">
                  <button class="btnTarefas" (click)="fecharFormularioTarefa()">Cancelar</button>
                </div>
              </div>
            </form>
          </div>

          <div *ngIf="tarefas.length > 0">
            <div id="grandcontainer-Tarefasadd">
              <div *ngFor="let tarefa of tarefas" id="container-tarefaadd">
                <h3><i>{{ tarefa.nomeTarefa }}</i> <img class="img-fuild closeTarefa-mobile"
                    src="../../../assets/Elementos/close.svg"></h3>
                <p class="pt-2 pb-2">Fornecedor: {{ tarefa.fornecedor }}</p>
                <p>Valor: R$ {{ tarefa.valor }}</p>
              </div>
            </div>
          </div>
          <div *ngIf="tarefas.length === 0" id="container-tarefan">
            <p>Não há tarefas cadastradas para este evento.</p>
          </div>
        </div>

        <!-- Se listaConvidados for true, exibe a lista de convidados -->
        <div *ngIf="evento?.listaConvidados">
          <div id="container-Titletarefas" class="pt-3">
            <h3><label for="btnEditar2">Lista de Convidados</label></h3>
            <div id="container-btnaddTarefa">
              <button id="btnEditar2" (click)="abrirFormularioConvidado()" name="btnEditar2">+</button>
            </div>
          </div>

          <div *ngIf="mostrarFormularioConvidado">
            <form (ngSubmit)="cadastrarConvidado()">
              <div id="overlay" *ngIf="mostrarFormularioConvidado"></div>

              <div id="container-Tarefas" *ngIf="mostrarFormularioConvidado">
                <div class="container-InputTarefa">
                  <fieldset id="fieldset1">
                    <legend for="nomeConvidado">Convidado</legend>
                    <input type="text" class="inputTarefa" [(ngModel)]="novoConvidado.nomeConvidado"
                      placeholder="Nome do convidado" name="nomeConvidado" required>
                  </fieldset>
                </div>

                <div id="container-btnTarefa">
                  <button class="btnTarefas" type="submit">Enviar</button>
                </div>
                <div id="container-btnCancelar">
                  <button class="btnTarefas" (click)="fecharFormularioConvidado()">Cancelar</button>
                </div>
              </div>
            </form>
          </div>



          <div *ngIf="convidados.length > 0">
            <div id="grandcontainer-Tarefasadd">
              <span id="span-convidados-mobile"><i>Convidados</i></span>
              <div *ngFor="let convidado of convidados" id="container-tarefaadd">
                <p class="p-convidados-mobile">{{ convidado.nomeConvidado }} <img
                    class="img-fuild closeConvidado-mobile" src="../../../assets/Elementos/close.svg"></p>
              </div>
            </div>
          </div>

          <div *ngIf="convidados.length === 0" id="container-convidadon">
            <p>Não há convidados cadastrados para este evento.</p>
          </div>
        </div>

      </section>
    </section>
  </div>
</div>

<div class="d-none d-lg-flex d-xxl-flex" id="backgroundLG">
  <div class="card" id="cardLG">
    <div id="container-TitleLG">
      <div id="container-InfosLG">
        <h3 id="titleH3LG">{{ evento?.nomeEvento }}</h3>
        <span class="span-info-LG">
          <p class="p-info-LG"><b>Data:</b> {{ evento?.dataEvento | date: 'dd/MM/yyyy' }}</p>
        </span>


        <span class="span-info-LG">
          <p class="p-info-LG"><b>Local do evento:</b> {{ evento?.localEvento }}</p>
        </span>


        <span class="span-info-LG">
          <p class="p-info-LG"><b>Horário de início:</b> {{ evento?.horarioInicio }}</p>
        </span>


        <span class="span-info-LG">
          <p class="p-info-LG"><b>Horário de término:</b> {{ evento?.horarioFim }}</p>
        </span>


        <span class="span-info-LG">
          <p class="p-info-LG"><b>Tipo:</b> {{ evento?.tipoEvento }}</p>
        </span>
      </div>
    </div>
    <div id="container-TarefasConvidados">
      <div *ngIf="evento?.incluirTarefas">
        <div id="container-TitletarefasLG">
          <h3><label id="label-info-LG" for="btnEditar-LG"><b>Tarefas</b></label></h3>
          <div id="container-btnaddTarefa-LG">
            <button id="btnEditar-LG" (click)="abrirFormularioTarefa()" name="btnEditar-LG">+</button>
          </div>
        </div>

        <div *ngIf="tarefas.length > 0">
          <div id="grandcontainer-TarefasaddLG">
            <div *ngFor="let tarefa of tarefas" id="container-tarefaaddLG">
              <h3><i>{{ tarefa.nomeTarefa }}</i><img class="img-fuild closeTarefa-desktop"
                  src="../../../assets/Elementos/close.svg"></h3>
              <p>Fornecedor: {{ tarefa.fornecedor }}</p>
              <p>Valor: R$ {{ tarefa.valor }}</p>
            </div>
          </div>
        </div>
        <div *ngIf="tarefas.length === 0">
          <p id="nTarefas-LG">Não há tarefas cadastradas para este evento.</p>
        </div>
      </div>

      <div *ngIf="evento?.listaConvidados">
        <div id="container-TitletarefasLG">
          <h3><label id="label-info-LG" for="btnEditar-LG2"><b>Lista de Convidados</b></label></h3>
          <div id="container-btnaddTarefa-LG">
            <button id="btnEditar-LG" (click)="abrirFormularioConvidado()" name="btnEditar-LG2">+</button>
          </div>  
        </div>
        <div *ngIf="convidados.length > 0">
          <div id="grandcontainer-TarefasaddLG">
            <span id="span-convidados-desktop"><i>Convidados</i></span>
            <div *ngFor="let convidado of convidados" id="container-tarefaaddLG">
              <p class="p-convidados-desktop">{{ convidado.nomeConvidado }} <img
                  class="img-fuild closeTarefa-desktop" src="../../../assets/Elementos/close.svg"></p>
            </div>
          </div> 
        </div>

        <div *ngIf="convidados.length === 0">
          <p id="nTarefas-LG">Não há convidados cadastrados para este evento.</p>
        </div>
      </div>

    </div>
    <div id="grandcontainer-imgEventoLG">
      <div id="container-imgEventoLG">
        <img src="../../../assets/Elementos/imgUsuario.png" alt="" id="imgUsuarioLG">
      </div>
    </div>

    <div *ngIf="mostrarFormularioConvidado">
      <form (ngSubmit)="cadastrarConvidado()">
        <div id="overlay" *ngIf="mostrarFormularioConvidado"></div>

        <div id="container-Tarefas" *ngIf="mostrarFormularioConvidado">
          <div class="container-InputTarefa">
            <fieldset id="fieldset1">
              <legend class="legendLG" for="nomeConvidado">Convidado</legend>
              <input type="text" class="inputTarefa" [(ngModel)]="novoConvidado.nomeConvidado"
                placeholder="Nome do convidado" name="nomeConvidado" required>
            </fieldset>
          </div>

          <div id="container-btnTarefa">
            <button class="btnTarefas" type="submit">Enviar</button>
          </div>
          <div id="container-btnCancelar">
            <button class="btnTarefas" (click)="fecharFormularioConvidado()">Cancelar</button>
          </div>
        </div>
      </form>
    </div>

    <div id="overlay" *ngIf="mostrarFormularioTarefa"></div>
    <form (ngSubmit)="cadastrarTarefa()">
      <div id="container-Tarefas" *ngIf="mostrarFormularioTarefa">
        <div class="container-InputTarefa">
          <fieldset id="fieldset1">
            <legend class="legendLG" for="nomeTarefa">Tarefa</legend>
            <input type="text" class="inputTarefa" [(ngModel)]="novaTarefa.nomeTarefa" placeholder="Nome da tarefa"
              name="nomeTarefa" required>
          </fieldset>
        </div>
        <!-- Exibe o campo "Fornecedor" somente se fornecedores for true -->
        <div *ngIf="evento?.fornecedores" class="container-InputTarefa">
          <fieldset>
            <legend class="legendLG" for="fornecedor">Fornecedor</legend>
            <input type="text" class="inputTarefa" [(ngModel)]="novaTarefa.fornecedor" placeholder="Nome do fornecedor"
              name="fornecedor">
          </fieldset>
        </div>
        <div class="container-InputTarefa">
          <fieldset>
            <legend class="legendLG" for="valor">Valor</legend>
            <input type="number" class="inputTarefa" [(ngModel)]="novaTarefa.valor" placeholder="R$1000.00" name="valor"
              required>
          </fieldset>
        </div>

        <div id="container-btnTarefa">
          <button class="btnTarefas" type="submit">Enviar</button>
        </div>
        <div id="container-btnCancelar">
          <button class="btnTarefas" (click)="fecharFormularioTarefa()">Cancelar</button>
        </div>
      </div>
    </form>

  </div>
</div>