* {
    line-height: normal;
    margin: 0;
    color: #000;
}

#background, #backgroundLG {
    background-color: #FFBC74;
    width: 100%;
    padding: 18vw 0 10vw 0;
}

#backgroundLG {
    padding: 10vw 0 8vw 0;

    display: flex;
    align-items: center;
    justify-content: center;

}

.card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 90%;
    border: 2px solid #000;
    margin-left: 5%;
    border-radius: 13px;
    padding: 6vw 0;
}

#cardLG {
    padding-bottom: 0;
    padding: 0;
}

#container-imgEvento, #container-imgEventoLG {
    border: 1px solid #000;
    width: 10vh;
    height: 10vh;
    margin-right: 5%;
    border-radius: 15px;
    text-align: center;
}

#container-imgEventoLG, #container-imgEvento {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-Title {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

#container-Title h1 {
    font-weight: bold;
}

#container-Infos, #container-Tarefas, #container-InfosLG, #grandcontainer-Tarefasadd {
    width: 90%;
    margin-left: 5%;
}

#container-Infos {
    font-size: 4vw;
}


#grandcontainer-Tarefasadd {
    padding: 2vw 0;
}



#cardTarefas {
    width: 100%;
    border-radius: 10px;
    margin-left: 1%;
}

#container-Tarefas, #grandcontainer-Tarefasadd, #grandcontainer-TarefasaddLG {
    width: 90%;
    border: 1.5px solid #EF820D;
    border-radius: 10px;
}

#grandcontainer-TarefasaddLG {
    margin-bottom: 5%;
    margin-left: 2%;
    padding: 1.2vw 0;
}

#container-Titletarefas, #container-TitletarefasLG {
    display: flex;
    align-items: center;
    width: 90%;
    margin-left: 5%;
}

#container-TitletarefasLG {
    width: 100%;
    margin: 0;
    padding: 1vw 0;
}

#container-TitletarefasLG h3 {
    margin: 0;
}

#container-Titletarefas {
    padding-bottom: 3vw;
    display: inline-flex;
    justify-content: flex-start;
}

#container-Titletarefas h3 {
    font-weight: bold;
    margin: 0;
    font-size: 5vw;
}

#btnEditar, #btnEditar2, #btnEditar-LG {
    border: none;
    background-color: transparent;
    font-size: 5vw;
}

#btnEditar-LG {
    font-size: 1.6vw;
}

#container-btnaddTarefa, #container-btnaddTarefa-LG {
    background: #EABB88;
    width: 5vw;
    height: 5vw;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
    border-radius: 4px;
    margin-left: 2vw;
}

#container-btnaddTarefa-LG {
    width: 1.5vw;
    height: 1.5vw;
    margin-left: 1vw;
}

.valores {
    display: flex;
}

#container-Lista {
    width: 90%;
    margin-left: 5%;
    margin-top: 5%;
}

#container-Lista h3 {
    font-weight: bold;
}

#imgUsuarioLG {
    width: 50%;
}

#addTarefa {
    border: none;
    background: none;
}

#container-InputTarefa {
    padding-bottom: 10%;
}



/* Overlay escurecendo a tela */
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    /* Fundo escurecido */
    z-index: 998;
    /* Aparece abaixo do container de tarefas */
}

/* Container de Tarefas (centralizado e sobreposto) */
#container-Tarefas {
    position: fixed;
    top: 45%;
    left: 45%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 500px;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    z-index: 999;
    /* Sobrepõe o overlay */
}


fieldset {
    border-radius: 8px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    min-width: revert;
    margin: revert;
    padding: 0 0% 1.5% 3%;
    border: 1.5px solid var(--cor-secundaria);
    margin-bottom: 5%;
}

#fieldset1 {
    margin-top: 5%;
}

legend {
    float: none;
    width: auto;
    margin: 0;
    font-size: 4vw;
    padding: 0 3%;
    font-style: italic;
}

.inputTarefa {
    all: unset;
    width: 95%;
}

.inputTarefa::placeholder {
    color: #8a8a8a;
    font-style: italic;
}

#container-btnTarefa, #container-btnCancelar {
    text-align: center;
}

#container-btnTarefa {
    margin-bottom: 5%;
}

.btnTarefas {
    border: 1px solid #000;
    background-color: #EF820D;
    font-weight: bold;
    width: 40%;
    height: 4vh;
    border-radius: 10px;
}

#grandContaine-infos {
    width: 90%;
}

/*LG*/

#cardLG {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    margin: 0;
    padding: 3vw 2vw;
}

#container-TarefasConvidados {
    width: 40%;
}

#grandcontainer-imgEventoLG {
    width: 20%;
    margin-top: 2%;
}

#container-TitleLG {
    width: 40%;

}

#container-imgEventoLG {
    width: 13vh;
    height: 13vh;
}

#container-tarefaadd, #container-tarefaaddLG {
    width: 90%;
    margin-left: 5%;
}

#container-tarefaadd {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-direction: column;
    padding: 2vw 0;
}

#span-convidados-mobile, #span-convidados-desktop {
    margin-left: 5%;
    padding: 1vw 0;
    font-size: 4vw;
}

#span-convidados-desktop {
    padding-bottom: 1.5vw;
    font-size: 1.4vw;
}

#container-tarefaadd h3 {
    font-size: 4vw;
    color: #000;
    margin: 0;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#container-tarefaaddLG h3 {
    font-size: 1.4vw;
    width: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
}


#container-tarefaadd p {
    font-weight: 300;
    margin: 0;
    font-size: 3.3vw;
    color: #000;
    margin: 0;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.legendLG {
    font-size: 3.2vh;
}

#container-tarefan, #container-convidadon {
    width: 90%;
    margin-left: 5%;
    margin-top: 2%;
}

#container-name-mobile {
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0vw 1vw 4vw 5vw;
    width: 100%;
}

#h1-mobile {
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    width: 70%;
    text-overflow: ellipsis;
    font-size: 5vw;
}

.imgfotoEvento-mobile {
    border: 1px solid #000;
    float: right;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16vw;
    height: 16vw;
    background: #fff;
    margin-left: 5vw;
    border-radius: 10px;
}

.img-evento-mobile {
    width: 8vw;
}

.closeTarefa-mobile, .closeConvidado-mobile {
    width: 4vw;

}

.closeTarefa-desktop {
    cursor: pointer;
    width: 2vw;
}

#container-Lista h3 {
    font-size: 5vw;
    margin: 0;
}

#container-Lista {
    display: inline-flex;
    align-items: center;

}

.p-convidados-mobile {
    padding: 1.5vw 0;
}

#titleH3LG {
    font-size: 4vw;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    line-height: normal;
    margin: 0;
    padding-bottom: 3vw;
}


.p-info-LG {
    margin: 0;
    padding: 1vw 0;
    font-size: 1.5vw;
}

#label-info-LG {
    font-size: 1.5vw;
}

#nTarefas-LG {
    font-size: 1.2vw;
}

#container-tarefaaddLG h3, #container-tarefaaddLG p {
    margin: 0;
}

#container-tarefaaddLG p {
    padding: 0.2vw 0;
    font-size: 1.1vw;
}


.p-convidados-desktop {
    font-size: 1.1vw !important;
    padding: 0.5vw 0 !important;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}