<div class="d-xs-block d-md-none" id="background">
  <div class="card">
      <section id="container-Title">
          <!-- Exibe o nome do evento -->
          <h1>{{ evento?.nomeEvento }}</h1>

          <div id="container-imgEvento">
              <!-- Você pode também exibir uma imagem, caso tenha a URL no evento -->
              <img src="../../../assets/Elementos/imgUsuario.png" alt="Imagem do usuário" id="imgUsuario">
          </div>
      </section>

      <section>
          <div id="container-Infos">

              <span><p>Data: {{ evento?.dataEvento | date: 'dd/MM/yyyy' }}</p></span>


              <span><p>Local do evento: {{ evento?.localEvento }}</p></span>


              <span><p>Horário de início: {{ evento?.horarioInicio }}</p></span>


              <span><p>Horário de término: {{ evento?.horarioFim }}</p></span>


              <span><p>Tipo: {{ evento?.tipoEvento }}</p></span>
          </div>

          <div id="container-Titletarefas">
              <h3>Tarefas</h3>
              <button (click)="abrirFormularioTarefa()">+</button>
          </div>

          <div *ngIf="mostrarFormularioTarefa">
            <form (ngSubmit)="cadastrarTarefa()">
                <label for="nomeTarefa">Nome da Tarefa:</label>
                <input type="text" [(ngModel)]="novaTarefa.nomeTarefa" name="nomeTarefa" required>

                <label for="fornecedor">Fornecedor:</label>
                <input type="text" [(ngModel)]="novaTarefa.fornecedor" name="fornecedor">

                <label for="valor">Valor:</label>
                <input type="number" [(ngModel)]="novaTarefa.valor" name="valor" required>

                <button type="submit">Cadastrar Tarefa</button>
            </form>
        </div>

          <div id="container-Lista">
              <h3>Lista de Convidados +</h3>
          </div>
      </section>
  </div>
</div>
