<app-header></app-header>
<div class=".d-xs-block d-md-none grandContainer">
  <section id="text-Quem-somos">
    <h1>Principais funcionalidades</h1>
  </section>
  <section class="litterContainer">
    <img class="img img-fuild" src="../../../../assets/Elementos/gerenciamentoEventos.png" alt="">
    <h2 class="tituloCard">Gerenciamento <br> de eventos</h2>
    <p class="textCard">
      Faça a administração necessária para seus eventos através da nossa plataforma.
      Com uma gestão inteligente e intuitiva, para que seus eventos ocorram da maneira
      esperada.
    </p>
  </section>

  <section class="litterContainer">
    <img class="img img-fuild" src="../../../../assets/Elementos/controleFinanceiro.png" alt="">
    <h2 class="tituloCard">Controle financeiro</h2>
    <p class="textCard">
      Nossa plataforma também disponibiliza um sistema completo de gerenciamento de custos,
      permitindo que você tenha controle total sobre os gastos atuais e projetados com os serviços
      de fornecedores, desde o planejamento até a conclusão do seu evento.
    </p>
  </section>

  <section class="litterContainer">
    <img class="img img-fuild" src="../../../../assets/Elementos/ListaTarefa.png" alt="">
    <h2 class="tituloCard">Lista de tarefas</h2>
    <p class="textCard">
      Todos os eventos exigem uma série de etapas para serem realizados com sucesso. Para facilitar
      esse processo, oferecemos uma ferramenta que permite gerenciar e monitorar todos os serviços
      necessários, garantindo que cada detalhe seja executado conforme o planejado.
    </p>
  </section>

  <section class="litterContainer">
    <img class="img img-fuild" src="../../../../assets/Elementos/RetornoRelatorio.png" alt="">
    <h2 class="tituloCard">Retorno de relatório</h2>
    <p class="textCard">
      Após a conclusão do seu evento, você terá acesso a um relatório detalhado, que inclui informações
      essenciais como os gastos totais, os serviços contratados, a equipe envolvida e uma avaliação completa
      do evento.
    </p>
  </section>
</div>


<div class="d-none d-md-block d-xxl-block">
  <section id="section-title">
    <h1 id="h1-desktop">PRINCIPAIS<br>FUNCIONALIDADES</h1>
    <div id="linha"></div>
  </section>
  <section class="d-flex align-items-center justify-content-center">
    <div class="containers-desktop d-flex align-items-end justify-content-evenly flex-column">
      <div class="card-desktop d-flex align-items-center justify-content-evenly flex-column card-left">
        <img src="../../../../assets/Elementos/gerenciamentoEventos.png" class="img-fluid img-box-desktop" alt="">
        <span class="span-desktop">Gerenciamento<br>de eventos</span>
        <p class="p-desktop">Faça a administração necessária para seus eventos através da nossa plataforma. Com uma
          gestão inteligente e
          intuitiva, para que seus eventos ocorram da maneira esperada.</p>
      </div>
      <div class="card-desktop d-flex align-items-center justify-content-evenly flex-column card-left">
        <img src="../../../../assets/Elementos/ListaTarefa.png" class="img-fluid img-box-desktop" alt="">
        <span class="span-desktop">Lista de tarefas</span>
        <p class="p-desktop">Todos os eventos exigem uma série de etapas para serem realizados com sucesso. Para
          facilitar esse processo, oferecemos uma ferramenta que permite gerenciar e monitorar todos os serviços
          necessários, garantindo que cada detalhe seja executado conforme o planejado.</p>
      </div>
    </div>
    <div class="containers-desktop d-flex align-items-start justify-content-evenly flex-column">
      <div class="card-desktop d-flex align-items-center justify-content-evenly flex-column card-right">
        <img src="../../../../assets/Elementos/controleFinanceiro.png" class="img-fluid img-box-desktop" alt="">
        <span class="span-desktop">Controle financeiro</span>
        <p class="p-desktop">Nossa plataforma também disponibiliza um sistema completo de gerenciamento de custos,
          permitindo que você tenha controle total sobre os gastos atuais e projetados com os serviços de fornecedores,
          desde o planejamento até a conclusão do seu evento.</p>
      </div>
      <div class="card-desktop d-flex align-items-center justify-content-evenly flex-column card-right">
        <img src="../../../../assets/Elementos/RetornoRelatorio.png" class="img-fluid img-box-desktop" alt="">
        <span class="span-desktop">Retorno de<br>Relatório</span>
        <p class="p-desktop">Após a conclusão do seu evento, você terá acesso a um relatório detalhado, que inclui
          informações essenciais como os gastos totais, os serviços contratados, a equipe envolvida e uma avaliação
          completa do evento.</p>
      </div>
    </div>
  </section>
</div>
