@import url("../../../../styles.css");


.grandContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#text-Quem-somos {
  width: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

#text-Quem-somos h1 {
  font-size: 8vw;
  font-weight: bold;
  margin-top: 3%;
}

.litterContainer {
  margin-top: 30px;
  width: 85%;
  border: 2px solid #ef820d;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.tituloCard {
  padding: 1.5vw 0;
  font-size: 6vw;
  font-weight: bold;
  text-align: center;
}

.textCard {
  font-size: 3.4vw;
  width: 85%;
  text-align: center;
}

.img {
  padding: 3vw 0;
  width: 15vw;
}

/* desktop */

#h1-desktop {
  font-weight: bold;
  color: #000;
  margin: 0;
  font-size: 3.5vw;
  line-height: 1.2;
  letter-spacing: 1px;
}

#linha {
  height: 0.5vh;
  width: 17vw;
  background: #000;
}

#section-title {
  margin-left: 2vw;
}

.containers-desktop {
  width: 50%;
  height: 65vw;
}

.card-desktop {
  height: 40%;
  width: 55%;
  border-radius: 5px;
  border: 1.5px var(--cor-secundaria) solid;
}

.img-box-desktop {
  width: 7.5vw;
}

.span-desktop {
  font-size: 2vw;
  font-weight: bold;
  text-align: center;
  line-height: normal;
}

.p-desktop {
  width: 90%;
  font-size: 1.2vw;
  text-align: center;
  line-height: normal;
}

.card-left {
  margin-right: 14%;
}

.card-right {
  margin-left: 14%;
}