<div class="d-xs-block d-md-none">
  <header>
    <!-- Ícone do menu (abre o sidebar) -->
    <i class="bi bi-list" (click)="toggleSidebar()"></i>

    <div class="container-input">
      <input class="inputM" type="text" placeholder="Eventos">
      <img class="img-search img-fluid" src="../../../../assets/Elementos/Search.svg">
    </div>

    <div id="icons" class="d-flex align-items-center justify-content-center">
      <img id="imgM" src="../../../../assets/Elementos/IconFormulario.png">
    </div>
  </header>

  <!-- Sidebar -->
  <div id="sidebarMobile" class="sidebarMobile" [class.active]="isSidebarActive">
    <div class="containerCloseMobile">
      <img class="close-button" (click)="toggleSidebar()" src="../../../../assets/Elementos/Close.png">
    </div>

    <div class="containerUsuarioMobile">
      <img class="iconUsuario" src="../../../../assets/Elementos/IconFormulario.png">
      <p class="nameUsuario">{{nomeUsuario}}</p>
    </div>

    <ul id="ul-mobile">
      <li class="containerElementoMobile">
        <a [routerLink]="['']">
          <img class="imgElemento" src="../../../../assets/Elementos/historicoImg.png">
          <h2 class="textoElemento">Histórico</h2>
          <img class="playMobile" src="../../../../assets/Elementos/play.png">
        </a>
      </li>

      <li class="containerElementoMobile">
        <a [routerLink]="['']">
          <img class="imgElemento" src="../../../../assets/Elementos/agendaImg.png">
          <h2 class="textoElemento">Calendário</h2>
          <img class="playMobile" src="../../../../assets/Elementos/play.png">
        </a>
      </li>

      <li class="containerElementoMobile">
        <a [routerLink]="['']">
          <img class="imgElemento" src="../../../../assets/Elementos/financeiroImg.png">
          <h2 class="textoElemento">Financeiro</h2>
          <img class="playMobile" src="../../../../assets/Elementos/play.png">
        </a>
      </li>

      <li class="containerElementoMobile">
        <a [routerLink]="['/eventoExistente']">
          <img class="imgElemento" src="../../../../assets/Elementos/futurosImg.png">
          <h2 class="textoElemento">Futuros Eventos</h2>
          <img class="playMobile" src="../../../../assets/Elementos/play.png">
        </a>
      </li>

      <li class="containerElementoMobile">
        <a [routerLink]="['/formulario']">
          <img class="imgElemento" src="../../../../assets/Elementos/criarEvento.png">
          <h2 class="textoElemento">Criar Evento</h2>
          <img class="playMobile" src="../../../../assets/Elementos/play.png">
        </a>
      </li>

      <li class="containerElementoMobile">
        <a  [routerLink]="['']">
          <img class="imgElemento" src="../../../../assets/Elementos/plano.png">
          <h2 class="textoElemento">Planos</h2>
          <img class="playMobile" src="../../../../assets/Elementos/play.png">
        </a>
      </li>

    </ul>

    <!-- Botão Sair -->
    <div class="containerSairMobile" (click)="closeSidebar()">
      <img class="iconSair" src="../../../../assets/Elementos/sair.png">
      <p class="sair">Sair</p>
    </div>
  </div>

  <!-- Overlay -->
  <div id="overlay" class="overlay" [class.active]="isSidebarActive" (click)="closeSidebar()"></div>
</div>


<div class="d-none d-md-block d-xxl-block">

  <header id="headerPc">
    <i class="bi bi-list" id="i-desktop" (click)="toggleSidebar()"></i>

    <div class="container-input" id="container-input-desktop">
      <input class="inputM" id="inputM-desktop" type="text" placeholder="Eventos">
      <img class="img-search img-fluid" id="img-search-desktop" src="../../../../assets/Elementos/Search.svg">
    </div>

    <div id="icons">
      <i id="emailPc" class="bi bi-envelope"></i>
      <i id="bellPc" class="bi bi-bell"></i>
      <img id="personPc" src="../../../../assets/Elementos/IconFormulario.png">
    </div>
  </header>

  <div id="sidebar" class="sidebar" [class.active]="isSidebarActive">
    <div id="ContainerClose-desktop">
      <img class="close-button" (click)="toggleSidebar()" src="../../../../assets/Elementos/Close.png">
    </div>

    <div class="containerUsuario" id="containerUsuario-desktop">
      <img class="iconUsuario" id="iconUsuario-desktop" src="../../../../assets/Elementos/IconFormulario.png">
      <p class="nameUsuario" id="nameUsuario-desktop">{{nomeUsuario}}</p>
    </div>

    <ul id="ul-desktop">

      <li class="containerElemento">
        <a  [routerLink]="['']">
          <div class="container-img-desktop">
            <img class="imgElemento imgElemento-desktop" src="../../../../assets/Elementos/historicoImg.png">
          </div>
          <h2 class="textoElemento textoElemento-desktop">Histórico</h2>
          <img class="play" src="../../../../assets/Elementos/play.png">
        </a>
      </li>

      <li class="containerElemento">
        <a  [routerLink]="['']">
          <div class="container-img-desktop">

            <img class="imgElemento imgElemento-desktop" src="../../../../assets/Elementos/agendaImg.png">
          </div>
          <h2 class="textoElemento textoElemento-desktop">Calendário</h2>
          <img class="play" src="../../../../assets/Elementos/play.png">
        </a>
      </li>

      <li class="containerElemento">
        <a  [routerLink]="['']">
          <div class="container-img-desktop">
            <img class="imgElemento imgElemento-desktop" src="../../../../assets/Elementos/financeiroImg.png">
          </div>
          <h2 class="textoElemento textoElemento-desktop">Financeiro</h2>
          <img class="play" src="../../../../assets/Elementos/play.png">
        </a>
      </li>

      <li class="containerElemento">
        <a  [routerLink]="['/eventoExistente']">
          <div class="container-img-desktop">

            <img class="imgElemento imgElemento-desktop" src="../../../../assets/Elementos/futurosImg.png">
          </div>
          <h2 class="textoElemento textoElemento-desktop">Futuros Eventos</h2>
          <img class="play" src="../../../../assets/Elementos/play.png">
        </a>
      </li>

      <li class="containerElemento">
        <a [routerLink]="['/formulario']">
          <div class="container-img-desktop">

            <img class="imgElemento imgElemento-desktop" src="../../../../assets/Elementos/criarEvento.png">
          </div>
          <h2 class="textoElemento textoElemento-desktop">Criar Evento</h2>
          <img class="play" src="../../../../assets/Elementos/play.png">
        </a>
      </li>

      <li class="containerElemento">
        <a [routerLink]="['']">
          <div class="container-img-desktop">

            <img class="imgElemento imgElemento-desktop" src="../../../../assets/Elementos/plano.png">
          </div>
          <h2 class="textoElemento textoElemento-desktop">Planos</h2>
          <img class="play" src="../../../../assets/Elementos/play.png">
        </a>
      </li>
    </ul>

    <div class="containerSair" id="containerSair-desktop">
      <img class="iconSair" id="iconSair-desktop" src="../../../../assets/Elementos/sair.png">
      <p class="sair" id="sair-desktop" (click)="SairConta()">Sair</p>
    </div>

  </div>
  <div id="overlay" class="overlay" [class.active]="isSidebarActive" (click)="closeSidebar()"></div>
</div>

<!-- 
<div class="grandContainer d-none d-md-block d-lg-none">

  <header id="headerT">
    <i  class="bi bi-list"></i>
    <div class="container-input">
      <input class="inputM" type="text" placeholder="Eventos">
      <img class="img-search img-fluid" src="../../../../assets/Elementos/Search.svg">
    </div>

    <div id="icons" class="d-flex align-items-center justify-content-center">
      <i id="emailPc" class="bi bi-envelope"></i>
      <i id="bellPc" class="bi bi-bell"></i>
      <img id="personPc" src="../../../../assets/Elementos/IconFormulario.png">
    </div>
  </header>
</div> -->


<!--<i class="bi bi-bell"></i>
  <i class="bi bi-envelope"></i>-->