<div class="d-xs-block d-md-none">
  <header>
    <i class="bi bi-list"></i>

    <div class="container-input">
      <input class="inputM" type="text" placeholder="Eventos">
      <img class="img-search img-fluid" src="../../../../assets/Elementos/Search.svg">
    </div>

    <div id="icons" class="d-flex align-items-center justify-content-center">
      <img id="imgM" src="../../../../assets/Elementos/IconFormulario.png">
    </div>
  </header>
</div>

<!-- 
<div class="grandContainer d-none d-lg-block d-xxl-none">

  <header id="headerPc">
    <div id="divInput"> <input id="inputPc" type="text" placeholder="Eventos"> </div>

    <div id="icons">
      <i id="emailPc" class="bi bi-envelope"></i>
      <i id="bellPc" class="bi bi-bell"></i>
      <img id="personPc" src="../../../../assets/Elementos/IconFormulario.png">
    </div>
  </header>

</div>

<div class="grandContainer d-none d-md-block d-lg-none">

  <header id="headerT">
    <i class="bi bi-list" id="iT"></i>

    <fieldset>
      <input id="inputPc" type="text" placeholder="Eventos">
    </fieldset>
    <div id="iconsPc">

      <i id="emailPc" class="bi bi-envelope"></i>
      <i id="bellPc" class="bi bi-bell"></i>
      <img id="personPc" src="../../../../assets/Elementos/IconFormulario.png">
    </div>
  </header>
</div>

imagens para telas maiores-->
<!--<i class="bi bi-bell"></i>
  <i class="bi bi-envelope"></i>-->