header {
  width: 100%;
  height: 7vh;
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0 1.8vw;
  position: fixed;
  background: #ffffff;
  z-index: 999;
}

i, #i-desktop {
  font-size: 6vw;
  margin-left: 1.5vw;
  cursor: pointer;
}

#i-desktop {
  font-size: 2.8vw;
}

.container-input {
  border-radius: 3vw;
  margin-left: 50vw;
  padding-left: 1.8vw;
  font-size: 2vw;
  border: 0.5px solid rgb(207, 207, 207);
  height: 6.5vw;
  width: 26vw;
  display: inline-flex;
  justify-content: space-around;
  padding-right: 1vw;
}

#container-input-desktop {
  height: 3vw;
}

#img-search-desktop {
  width: 1.3vw;
}

#inputM-desktop {
  font-size: 1vw;
}

#iT {
  font-size: 2.5vw;
}

.img-search {
  width: 3vw;
}

.inputM {
  all: unset;
  border: none;
  background: none;
  width: 82%;
  font-size: 2.5vw;
}

#imgM {
  margin-left: 2vw;
  width: 6vw;
}

#icons {
  width: 10vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#emailPc, #bellPc {
  font-size: 1.8vw;
  margin: 0;
}

#personPc {
  width: 1.8vw;
}

#headerPc {
  height: 12vh;
}

#headerT {
  height: 9vw;
}

#iconsPc {
  display: flex;
}

.sidebar {
  position: fixed;
  top: 0;
  left: -50%;
  width: 30%;
  height: 100%;
  background-color: #fff;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
  overflow-y: auto;
  transition: left 0.3s ease;
  z-index: 1000;
}

.sidebar ul {
  list-style: none;
  padding: 20px;
  margin: 0;
}

.sidebar ul li {
  margin: 20px 0;
}

.sidebar ul li a {
  text-decoration: none;
  font-size: 18px;
  color: #333;
}

/* Overlay styles */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: none;
}

.sidebar.active {
  left: 0;
}

.overlay.active {
  display: block;
}

.containerClose{
  width: 2vw;
  height: 4vh;
  display: flex;
  margin: 7% 0 0 10%;
}

.close-button {
  cursor: pointer;
  outline: none;
}

.containerUsuario{
  width: 100%;
  height: 8vh;
  display: flex;
  margin-top: 10%;
  margin-bottom: 7%;
}

.iconUsuario{
  margin-left: 7%;
}

.nameUsuario{
  margin-left: 2%;
  margin-top: 4.5%;
  font-size: 150%;
}

.containerElemento {
  width: 100%;
  height: 6vh;
  display: flex;
  align-items: center; 
}

.containerElemento a {
  display: flex; 
  align-items: center; 
  width: 100%; 
  justify-content: space-between; 
  text-decoration: none; 
}

.containerElemento:hover{
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.2);
  transition: left 0.3s ease;
}

.imgElemento, .imgElemento2 {
  margin-left: 8%; 
}

.imgElemento2{
  margin-left: 6%; 
}

.textoElemento {
  margin: 0 0 0 5% 
}

.play {
  margin-left: auto; 
}


.containerSair{
  width: 100%;
  height: 5vh;
  display: flex;
  margin-top: 10%;
  margin-bottom: 7%;
  cursor: pointer;
}

.iconSair{
  margin-left: 7%;
}

.sair{
  margin-left: 2%;
  margin-top: 2%;
  font-size: 150%;
  color: #D10000;
}
