header {
  width: 100%;
  height: 7vh;
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0 1.8vw;
  position: fixed;
  background: #ffffff;
  z-index: 999;
}

i, #i-desktop {
  font-size: 6vw;
  margin-left: 1.5vw;
  cursor: pointer;
}

#i-desktop {
  font-size: 2.8vw;
}

.container-input {
  border-radius: 3vw;
  margin-left: 50vw;
  padding-left: 1.8vw;
  font-size: 2vw;
  border: 0.5px solid rgb(207, 207, 207);
  height: 6.5vw;
  width: 26vw;
  display: inline-flex;
  justify-content: space-around;
  padding-right: 1vw;
}

#container-input-desktop {
  height: 3vw;
}

#img-search-desktop {
  width: 1.3vw;
}

#inputM-desktop {
  font-size: 1vw;
}

#iT {
  font-size: 2.5vw;
}

.img-search {
  width: 3vw;
}

.inputM {
  all: unset;
  border: none;
  background: none;
  width: 82%;
  font-size: 2.5vw;
}

#imgM {
  margin-left: 2vw;
  width: 6vw;
}

#icons {
  width: 10vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#emailPc, #bellPc {
  font-size: 1.8vw;
  margin: 0;
}

#personPc {
  cursor: pointer;
  width: 2vw;
}

#headerPc {
  height: 12vh;
}

#headerT {
  height: 9vw;
}

#iconsPc {
  display: flex;
}

.sidebar {
  position: fixed;
  top: 0;
  left: -50%;
  width: 30%;
  height: 100%;
  background-color: #fff;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
  overflow-y: auto;
  transition: left 0.3s ease;
  z-index: 1000;
}

.sidebarMobile {
  position: fixed;
  top: 0;
  left: -50%;
  width: 100%;
  height: 100%;
  background-color: #fff;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
  overflow-y: auto;
  transition: left 0.3s ease;
  z-index: 1000;
}


.sidebar ul {
  list-style: none;
  padding: 20px;
  margin: 0;
}

.sidebar ul li {
  margin: 20px 0;
}

.sidebar ul li a {
  text-decoration: none;
  font-size: 18px;
  color: #333;
}

/* Overlay styles */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: none;
}

.sidebar.active {
  left: 0;
}

.overlay.active {
  display: block;
}

#ContainerClose-desktop, .containerCloseMobile {
  width: 2vw;
  height: 4vh;
  display: flex;
  margin: 8vw 0 0 10vw;
}

#ContainerClose-desktop {
  margin: 2.5vw 0 0 3vw;
}

.close-button {
  cursor: pointer;
  outline: none;
}

.containerUsuario, .containerUsuarioMobile {
  width: 100%;
  height: 8vh;
  display: flex;
  margin-top: 7%;
  margin-bottom: 7%;
}

#containerUsuario-desktop {
  color: #000;
  text-decoration: none;
  height: auto;
  display: inline-flex;
  align-items: center;
  margin-top: 2vw;
}


.iconUsuario {
  width: 12vw;
  margin-left: 7.5vw;
}

#iconUsuario-desktop {
  width: 3vw;
  margin-left: 3vw;

}

.nameUsuario {
  margin: 0;
  padding-left: 4vw;
  font-size: 5vw;

}

#nameUsuario-desktop {
  font-size: 1.3vw;
  padding-left: 1vw;
}

.containerElemento {
  width: 100%;
  height: 6vh;
  display: flex;
  align-items: center;
}

.containerElemento a {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  text-decoration: none;
}

.containerElemento:hover {
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.2);
  transition: left 0.3s ease;
}

.imgElemento {
  height: 100%;
  margin-left: 6.5vw;
  width: 6vw;
}

.imgElemento-desktop {
  margin-left: 2vw;
  width: 2vw;
}


.textoElemento {
  margin: 0 0 0 5%;
  font-size: 2vw;
}

.textoElemento-desktop {
  font-size: 1.2vw;
}

.play {
  margin-left: auto;
}

.containerSair {
  width: 100%;
  height: 5vh;
  display: flex;
  margin-top: 4%;
  margin-bottom: 7%;
  cursor: pointer;
}

#containerSair-desktop {
  height: auto;
  display: inline-flex;
}

.iconSair {
  margin-left: 8vw;
  width: 7vw;
}

#iconSair-desktop {
  margin-left: 2vw;
  width: 2vw;
}

.sair {
  font-size: 4vw;
  color: #D10000;
  margin: 0;
  padding-left: 3vw;
}

#sair-desktop {
  padding-left: 0.8vw;
  font-size: 1.3vw;
}

.a-link-sair {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
}

#sidebarMobile {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  z-index: 1000;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
}

#sidebarMobile.active {
  transform: translateX(0);
}

#sidebarMobile .containerClose {
  position: absolute;
  top: 20px;
  right: 20px;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: none;
}

#overlay.active {
  display: block;
}

#sidebarMobile .containerSair {
  cursor: pointer;
}

.containerElementoMobile {
  width: 95%;
  height: 8.5vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.containerElementoMobile a {
  display: flex;
  align-items: center;
  width: 100%;
  text-decoration: none;
}

.containerElementoMobile img.imgElemento {
  margin-right: 10px;
}

.containerElementoMobile h2.textoElemento {
  color: #000;
  text-align: left;
  margin: 0;
  font-size: 4vw;
}

.containerElementoMobile img.playMobile {
  margin-left: auto;
  margin-right: 3vw;
  width: 5.5vw;
}

.containerSairMobile {
  align-items: center;
  display: inline-flex;
  margin-top: 10%;
  margin-bottom: 7%;
  cursor: pointer;
}

.containerUsuarioMobile {
  color: #000;
  text-decoration: none;
  height: auto;
  display: inline-flex;
  width: auto;
  margin-bottom: 10%;
  align-items: center;
}

#ul-mobile {
  padding-left: 0;
}

#ul-desktop {
  padding-left: 0;
}

.container-img-desktop {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}