<div class=".d-xs-block d-md-none">
    <div id="Background">
        <p id="Title">Criação do Evento,</p>

        <p id="Title2">Nome do Evento</p>
        <div id="Body">
            <img src="../../../../assets/Elementos/IconFormulario.png">
            <button mat-stroked-button id="btnPhoto">Inserir Foto</button>

                <fieldset class="formFieldset">
                    <legend>Nome do Evento</legend>
                    <input type="text" placeholder="Qual o nome do seu evento?" class="textForm">
                </fieldset>

                <fieldset class="formFieldset">
                    <legend>Data do Evento</legend>
                    <input type="text" placeholder="Qual dia acontecerá seu evento?" class="textForm">
                </fieldset>

                <fieldset class="formFieldset">
                    <legend>Horário que inicia o Evento</legend>
                    <input type="text" placeholder="Qual horário que começará seu evento?" class="textForm">
                </fieldset>

                <fieldset class="formFieldset">
                    <legend>Horário que inicia o Evento</legend>
                    <input type="text" placeholder="Qual horário acabará seu evento?" class="textForm">
                </fieldset>

                <fieldset class="formFieldset">
                    <legend>Local do Evento</legend>
                    <input type="text" placeholder="Qual o endereço do seu evento?" class="textForm">
                </fieldset>

                <fieldset class="formFieldset">
                    <legend>Tipo do Evento</legend>
                    <input type="text" placeholder="Qual o tipo do seu evento?" class="textForm">
                </fieldset>

                <div id="containerBox">
                <fieldset id="Box">
                    <input type="checkbox" id="chbx"/>
                    <label for="chbx">Incluir Tarefas</label>
                </fieldset>

                <fieldset id="Box">
                    <input type="checkbox" id="chbx"/>
                    <label for="chbx">Lista de Convidados</label>
                </fieldset>

                <fieldset id="Box">
                    <input type="checkbox" id="chbx"/>
                    <label for="chbx">Fornecedores</label>
                </fieldset>
            </div>
        </div>
        <button mat-stroked-button id="btnEvent">Criar Evento</button>
    </div>
</div>

<div class="d-none d-md-block d-xxl-block">
    <div id="backgroundDesk">
      <h1 id="Title3">Criação do evento, Nome do evento</h1>
        <div id="body">
        <mat-grid-list cols="2" rowHeight="2:1">
          <mat-grid-tile>aaaaaaaaaaaa</mat-grid-tile>
          <mat-grid-tile>aaaaaaaaa</mat-grid-tile>
        </mat-grid-list>
      </div>
    </div>

</div>


