#Background {
    background-color: #f6bb7c;
    width: 100%;
    align-items: center;
    flex-direction: column;
    display: flex;

}

#Title {
    padding-top: 2vh;
    font-size: 5vw;
    font-weight: bold;
    text-align: center;
}

#Title2 {
    font-size: 5vw;
    font-weight: bold;
    text-align: center;
}

#formularioMobile {
    width: 90%;
    background-color: white;
    border-radius: 15px;
    border: 1px solid #000;
    align-items: center;
    flex-direction: column;
    display: flex;
}

img {
    margin-top: 5%;
}

#btnPhoto {
    height: 5vh;
    margin-top: 2vh;
    margin-bottom: 4vh;
    background-color: #EF820D;
    font-size: 3vw;
    font-family: "Myriad pro Semibold"
}

fieldset:disabled {
    pointer-events: revert;
    opacity: revert;
}

.formFieldset {
    border-radius: 8px;
    width: 80vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    min-width: revert;
    margin: revert;
    padding: 0 0% 1.5% 3%;
    border: 1.5px solid var(--cor-secundaria);
    margin-bottom: 2vh;
}

legend {
    float: none;
    width: auto;
    margin: 0;
    font-size: 4.5vw;
    padding: 0 3%;
    font-style: italic;
}

.container-erro {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

.container-erro:has(.error-box) {
    padding-bottom: 2vh;

}

.error-box {
    width: 80vw;
    font-size: 3.5vw;
}



.textForm {
    all: unset;
    font-size: 4vw;
    width: 100%;
    padding: 2% 0 2% 4%;
}

#containerBox {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container-checkBox {
    display: flex;
    align-items: center;

}

.container-checkBox {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

input[type="checkbox"] {
    display: none;
    /* Oculta o checkbox padrão */
}

label {
    position: relative;
    cursor: pointer;
    width: 80vw;
    font-size: 3.4vw;
    display: flex;
    align-items: center;
}

label::before {
    margin-right: 2.5%;
    display: inline-flex;
    justify-content: space-between;
    content: '';
    height: 3vh;
    width: 3vh;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: white;
    transition: background-color 0.3s, border-color 0.3s;
}

input[type="checkbox"]:checked+label::before {
    content: "✓";
    background-color: #EF820D;
    border-color: #EF820D;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5vw;
}

label::after {
    left: 6px;
    top: 9px;
    width: 8px;
    height: 4px;
    border: solid white;
    border-width: 0 2px 2px 0;
    opacity: 0;
    transition: opacity 0.3s;
}

input[type="checkbox"]:checked+label::after {
    opacity: 1;
}

#chbx1, #chbx2, #chbx3 {
    accent-color: #EF820D;
    margin-left: 5vw;
    margin-right: 2vw;
    height: 4vw;
}

#btnEvent {
    background-color: #EF820D;
    font-weight: bold;
    height: 12vw;

    font-size: 4vw;
    margin-top: 7vw;

}


#backgroundDesk {
    background-color: #f6bb7c;
    height: 55vh;
    width: 100%;

}

#body {
    background-color: white;
    height: 35vh;
    width: 90%;
    border-radius: 15px;
    border: 1px solid #000;
    align-items: center;
    flex-direction: column;
    display: flex;
    margin-left: 5%;
}

#Title3 {
    padding-top: 2vh;
    font-size: 2.5vw;
    font-weight: bold;
    text-align: center
}