<app-header></app-header>
<div class=".d-xs-block d-md-none">
    <div id="Background" class="pb-3">
        <form id="formularioMobile" [formGroup]="CadastroEventoForm" class="pb-1">
            <img class="img-fluid" src="../../../../assets/Elementos/IconFormulario.png">
            <button mat-stroked-button id="btnPhoto">Inserir Foto</button>

            <fieldset class="formFieldset">
                <legend>Nome do Evento</legend>
                <input type="text" placeholder="Qual o nome do seu evento?" class="textForm"
                    formControlName="nomeEvento" minlength="3" maxlength="45">
            </fieldset>
            <div class="container-erro">
                <mat-error class="error-box"
                    *ngIf="CadastroEventoForm.controls.nomeEvento.hasError('required') && CadastroEventoForm.controls.nomeEvento.touched">'Nome
                    do Evento'
                    é obrigatório</mat-error>
                <mat-error class="error-box" *ngIf="CadastroEventoForm.controls.nomeEvento.hasError('minlength')">'Nome
                    do Evento' precisa conter entre 3
                    e 45
                    caracteres </mat-error>
            </div>

            <fieldset class="formFieldset">
                <legend>Tipo de evento</legend>
                <input type="text" placeholder="Qual o tipo do evento?" class="textForm" formControlName="tipoEvento"
                    minlength="3" maxlength="45">
            </fieldset>
            <div class="container-erro">
                <mat-error class="error-box"
                    *ngIf="CadastroEventoForm.controls.nomeEvento.hasError('required') && CadastroEventoForm.controls.tipoEvento.touched">'Tipo
                    do Evento'
                    é obrigatório</mat-error>
                <mat-error class="error-box" *ngIf="CadastroEventoForm.controls.tipoEvento.hasError('minlength')">'Tipo
                    do Evento' precisa conter entre 3
                    e 30
                    caracteres </mat-error>
            </div>

            <fieldset class="formFieldset">
                <legend>Data do Evento</legend>
                <input type="date" placeholder="Qual dia acontecerá seu evento?" class="textForm"
                    formControlName="dataEvento" [min]="hoje">
            </fieldset>

            <div class="container-erro">
                <mat-error class="error-box"
                    *ngIf="CadastroEventoForm.controls.dataEvento.hasError('required') && CadastroEventoForm.controls.dataEvento.touched">'Data
                    do Evento'
                    é obrigatório</mat-error>
            </div>
            <fieldset class="formFieldset">
                <legend>Horário que inicia o Evento</legend>
                <input type="time" class="textForm" formControlName="horarioInicio" value="00:00">

            </fieldset>
            <div class="container-erro">
                <mat-error class="error-box"
                    *ngIf="CadastroEventoForm.controls.horarioInicio.hasError('required') && CadastroEventoForm.controls.horarioInicio.touched">'Horário
                    que inicia'
                    é obrigatório</mat-error>
            </div>
            <fieldset class="formFieldset">
                <legend>Horário que finaliza o Evento</legend>
                <input type="time" class="textForm" formControlName="horarioFim" value="00:00">
            </fieldset>
            <div class="container-erro">
                <mat-error class="error-box"
                    *ngIf="CadastroEventoForm.controls.horarioFim.hasError('required') && CadastroEventoForm.controls.horarioFim.touched">'Horário
                    que finaliza'
                    é obrigatório</mat-error>
            </div>
            <fieldset class="formFieldset">
                <legend>Local do Evento</legend>
                <input type="text" placeholder="Qual o endereço do seu evento?" class="textForm" minlength="3"
                    maxlength="300" formControlName="localEvento">
            </fieldset>
            <div class="container-erro">
                <mat-error class="error-box"
                    *ngIf="CadastroEventoForm.controls.localEvento.hasError('required') && CadastroEventoForm.controls.localEvento.touched">'Local
                    do Evento'
                    é obrigatório</mat-error>
                <mat-error class="error-box" *ngIf="CadastroEventoForm.controls.localEvento.hasError('minlength')">'Nome
                    do Evento' precisa conter entre 3
                    e 300
                    caracteres </mat-error>
            </div>

            <div id="containerBox">
                <div class="container-checkBox">
                    <input type="checkbox" id="chbx1" [checked]="CadastroEventoForm.get('incluirTarefas')?.value"
                        (change)="onCheckboxChange('incluirTarefas', $event)" />
                    <label for="chbx1">Incluir Tarefas</label>
                </div>
                <div class="container-checkBox">
                    <input type="checkbox" id="chbx2" [checked]="CadastroEventoForm.get('listaConvidados')?.value"
                        (change)="onCheckboxChange('listaConvidados', $event)" />
                    <label for="chbx2">Lista de Convidados</label>
                </div>
                <div class="container-checkBox">
                    <input type="checkbox" id="chbx3" [checked]="CadastroEventoForm.get('fornecedores')?.value"
                        (change)="onCheckboxChange('fornecedores', $event)" />
                    <label for="chbx3">Fornecedores</label>
                </div>
            </div>

        </form>
        <button mat-stroked-button (click)="onEnviar()" id="btnEvent">Criar Evento</button>
    </div>
</div>

<!-- Desktop -->

<div class="d-none d-md-block d-xxl-block">
    <div id="grandContainer">
        <div id="containerTitle">
            <h1 id="titleDesktop">Criação do Evento</h1>
        </div>
        <div id="containerDesktop">
            <section id="containerImgEvento">
                <img class="ImgEvento" src="../../../../assets/Elementos/IconFormulario.png">
                <button id="btnInserirFoto">Inserir Foto</button>
            </section>

            <div id="grandContainerInputs">
                <div id="containerLeftInputs">

                    <form id="containerlittle-inputleftLG" [formGroup]="CadastroEventoForm">
                        <fieldset class="formFieldsetLG">
                            <legend class="legendLG">Nome do Evento</legend>
                            <input type="text" placeholder="Qual o nome do seu evento?" class="textFormLG"
                                formControlName="nomeEvento" minlength="3" maxlength="45">
                        </fieldset>
                        <div class="container-erroLG">
                            <mat-error class="error-boxLG"
                                *ngIf="CadastroEventoForm.controls.nomeEvento.hasError('required') && CadastroEventoForm.controls.nomeEvento.touched">'Nome
                                do Evento'é obrigatório</mat-error>
                            <mat-error class="error-boxLG"
                                *ngIf="CadastroEventoForm.controls.nomeEvento.hasError('minlength')">'Nomedo Evento'
                                precisa conter entre 3 e 45 caracteres</mat-error>
                        </div>
                        <fieldset class="formFieldsetLG">
                            <legend class="legendLG">Data do Evento</legend>
                            <input type="date" placeholder="Qual dia acontecerá seu evento?" class="textFormLG"
                                formControlName="dataEvento" [min]="hoje">
                        </fieldset>
                        <div class="container-erroLG">
                            <mat-error class="error-boxLG"
                                *ngIf="CadastroEventoForm.controls.dataEvento.hasError('required') && CadastroEventoForm.controls.dataEvento.touched">'Data
                                do Evento'
                                é obrigatório</mat-error>
                        </div>
                        <fieldset class="formFieldsetLG">
                            <legend class="legendLG">Tipo de evento</legend>
                            <input type="text" placeholder="Qual o tipo do evento?" class="textFormLG"
                                formControlName="tipoEvento" minlength="3" maxlength="45">
                        </fieldset>
                        <div class="container-erroLG">
                            <mat-error class="error-boxLG"
                                *ngIf="CadastroEventoForm.controls.nomeEvento.hasError('required') && CadastroEventoForm.controls.tipoEvento.touched">'Tipo
                                do Evento'
                                é obrigatório</mat-error>
                            <mat-error class="error-box"
                                *ngIf="CadastroEventoForm.controls.tipoEvento.hasError('minlength')">'Tipo
                                do Evento' precisa conter entre 3
                                e 30
                                caracteres </mat-error>
                        </div>
                        <div class="container-erroLG">
                            <mat-error class="error-boxLG"
                                *ngIf="CadastroEventoForm.controls.dataEvento.hasError('required') && CadastroEventoForm.controls.dataEvento.touched">'Data
                                do Evento' é obrigatório</mat-error>
                        </div>
                    </form>

                </div>
                
                <div id="containerRightInputs">
                    <form id="containerlittle-inputRightLG" [formGroup]="CadastroEventoForm">
                        <fieldset class="formFieldsetLG">
                            <legend class="legendLG">Horário que inicia o Evento</legend>
                            <input type="time" class="textFormLG" formControlName="horarioInicio" value="00:00">
                        </fieldset>

                        <div class="container-erroLG">
                            <mat-error class="error-boxLG"
                                *ngIf="CadastroEventoForm.controls.horarioInicio.hasError('required') && CadastroEventoForm.controls.horarioInicio.touched">'Horário
                                que inicia' é obrigatório</mat-error>
                        </div>

                        <fieldset class="formFieldsetLG">
                            <legend class="legendLG">Horário que finaliza o Evento</legend>
                            <input type="time" class="textFormLG" formControlName="horarioFim" value="00:00">
                        </fieldset>

                        <div class="container-erroLG">
                            <mat-error class="error-boxLG"
                                *ngIf="CadastroEventoForm.controls.horarioFim.hasError('required') && CadastroEventoForm.controls.horarioFim.touched">'Horário
                                que finaliza'
                                é obrigatório</mat-error>
                        </div>

                        <fieldset class="formFieldsetLG">
                            <legend class="legendLG">Local do Evento</legend>
                            <input type="text" placeholder="Qual o endereço do seu evento?" class="textFormLG"
                                minlength="3" maxlength="300" formControlName="localEvento">
                        </fieldset>
                        <div class="container-erroLG">
                            <mat-error class="error-boxLG"
                                *ngIf="CadastroEventoForm.controls.localEvento.hasError('required') && CadastroEventoForm.controls.localEvento.touched">'Local
                                do Evento'
                                é obrigatório</mat-error>
                            <mat-error class="error-boxLG"
                                *ngIf="CadastroEventoForm.controls.localEvento.hasError('minlength')">'Nome do
                                Evento' precisa conter entre 3 e 300 caracteres </mat-error>
                        </div>
                    </form>
                </div>
            </div>
            
            <div class="containerChecksBox">
                <form id="event-form" [formGroup]="CadastroEventoForm">
                    <div class="checkbox-container">
                        <input type="checkbox" id="taskCheckbox" formControlName="incluirTarefas" />Incluir Tarefas
                    </div>
                    <div class="checkbox-container">
                        <input type="checkbox" id="guestListCheckbox" formControlName="listaConvidados" />Lista de Convidados
                    </div>
                    <div class="checkbox-container">
                        <input type="checkbox" id="supplierCheckbox" formControlName="fornecedores" />Fornecedores
                    </div>
                </form>                
            </div>
        </div>

        <div id="containerBtnCriarEvento">
            <button mat-stroked-button (click)="onEnviar()" id="btnCriarEvento">Criar Evento</button>
        </div>

    </div>
</div>