<div class="d-xs-block d-md-none">

    <footer>
      <section>
        <div>
          <div id="logoContainer">
            <img id="logo"class="img-fluid" src="../../../../assets/Logo/isoLogo.png">
          </div>
          <div id="iconsContainer">
            <i class="bi bi-facebook" id="icon"></i>
            <i class="bi bi-instagram" id="icon"></i>
            <i class="bi bi-twitter" id="icon"></i>
          </div>
        </div>
      </section>
      <section>
        <div id="copyContainer">
          <p id="text-copy">copyrigth ©2024</p>
        </div>
      </section>
    </footer>
  </div>

  <div class="d-none d-md-block d-xxl-none " id="geral">
    <div id="grandContainerFooter" class="pt-2">
      <div id="littleContainerFooterLeft">
        <div id="teste2">
        <div class="email">
          <i class="bi bi-envelope"></i>
          <h3 class="fs-5" id="h3-lg">emaildaempresa@gmail.com</h3>
        </div>
        <div class="telefone">
          <i class="bi bi-telephone"></i>
          <h3 class="fs-5" id="h3-lg">(11) 99999-9999</h3>
        </div>
      </div>
    </div>
      <div id="littleContainerFooterCenter"><div id="teste">
        <div class="redeSocial">
          <i class="bi bi-instagram"></i>
          <a href="">
            <h3 class="fs-5" id="h3-lg">@nomedaempresa</h3>
          </a>
        </div>
        <div class="redeSocial">
          <i class="bi bi-facebook"></i>
          <a href="">
            <h3 class="fs-5" id="h3-lg">@nomedaempresa</h3>
          </a>
        </div>
        <div class="redeSocial">
          <i class="bi bi-twitter"></i>
          <a href="">
            <h3 class="fs-5" id="h3-lg">@nomedaempresa</h3>
          </a>
        </div>
      </div>
    </div>
      <div id="littleContainerFooterRight">
        <img src="../../../../assets/Logo/isoLogo.png" class="img-fluid logoEmpresa" id="imgEmpresa">
        <div>
        <p id="p-lg" class="pb-0">Agradecemos a sua atenção e interesse em nossos serviços.
          Se precisar de mais informações ou tiver alguma dúvida, estamos à disposição. Sua satisfação é nossa prioridade!
        </p>
        </div>
      </div>
    </div>
    <div id="ContainerCopyright">
      <p id="p-lg-copyrigth" >Copyright @2024</p>
    </div>
  </div>
