<div class=".d-xs-block d-md-none">

    <footer>
      <section>
        <div>
          <div id="logoContainer">
            <img id="logo"class="img-fluid" src="../../../../assets/Logo/isoLogo.png">
          </div>
          <div id="iconsContainer">
            <i class="bi bi-facebook" id="icon"></i>
            <i class="bi bi-instagram" id="icon"></i>
            <i class="bi bi-twitter" id="icon"></i>
          </div>
        </div>
      </section>
      <section>
        <div id="copyContainer">
          <p id="text-copy">copyrigth ©2024</p>
        </div>
      </section>
    </footer>
  </div>
