<div class=".d-xs-block d-md-none">
    <section id="text-Planos" class="d-flex align-items-center justify-content-center flex-column">
        <h1 class="pb-1">Planos</h1>
        <p>Experimente a eficiência de Eventfy e transforme seu próximo evento em um
            sucesso absoluto! Com nosso plano, você ganha controle total, automação
            inteligente e suporte dedicado para uma experiência sem estresse e impecável.</p>
    </section>
    <section>
        <div id="container-Card">
            <div class="card">
                <h1>Básico</h1>
                <h2 class="fw-lighter">Grátis</h2>
                <h3 class="fs-5">3 eventos</h3>
                <div class="sub-Card">
                    <h1>Acesso a:</h1>
                    <div class="custom-list-container">
                        <ul class="ul-planos pb-1">
                            <li class="custom-list-item">Criação Eventos</li>
                            <li class="custom-list-item">Agenda Integrada</li>
                            <li class="custom-list-item">Lista de Tarefas</li>
                            <li class="custom-list-item">Controle de Ingressos</li>
                            <li class="custom-list-item">Relatorios</li>
                        </ul>
                    </div>
                    <button class="btn-hire">Contratar</button>
                </div>
            </div>
            <div class="card">
                <h1>Médio</h1>
                <div class="preco-container d-flex align-items-center justify-content-center">
                    <div class="preco-left align-items-star mt-2">R$</div>
                    <div class="preco-center"> <b class="preco-margin">9,</b><span
                            class="preco-right"><b>90</b>/Mês</span></div>
                </div>
                <h3 class="fs-5">6 eventos</h3>
                <div class="sub-Card">
                    <h1>Acesso a:</h1>
                    <div class="custom-list-container">
                        <ul class="ul-planos pb-1">
                            <li class="custom-list-item">Criação Eventos</li>
                            <li class="custom-list-item">Agenda Integrada</li>
                            <li class="custom-list-item">Lista de Tarefas</li>
                            <li class="custom-list-item">Controle de Ingressos</li>
                            <li class="custom-list-item">Relatorios</li>
                        </ul>
                    </div>
                    <button class="btn-hire">Contratar</button>
                </div>
            </div>
            <div class="card">
                <h1 class="mb-0">Avançado</h1>
                <div class="preco-container d-flex align-items-center justify-content-center">
                    <div class="preco-left align-items-star mt-2">R$</div>
                    <div class="preco-center"> <b class="preco-margin">19,</b><span
                            class="preco-right"><b>90</b>/Mês</span></div>
                </div>
                <h3 class="fs-5">Sem limite</h3>
                <div class="sub-Card">
                    <h1>Acesso a:</h1>
                    <div class="custom-list-container">
                        <ul class="ul-planos pb-1">
                            <li class="custom-list-item">Criação Eventos</li>
                            <li class="custom-list-item">Agenda Integrada</li>
                            <li class="custom-list-item">Lista de Tarefas</li>
                            <li class="custom-list-item">Controle de Ingressos</li>
                            <li class="custom-list-item">Relatorios</li>
                        </ul>
                    </div>
                    <button class="btn-hire">Contratar</button>
                </div>
            </div>
        </div>
    </section>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</div>