#text-Planos, #text-PlanosLG {
  text-align: center;
  font-size: 3.6vw;
  padding: 3vw 0;
}
#text-PlanosLG{
  padding: 3vw 0;
  font-size: 2vw;
  line-height: 100%;
  text-align: start;
  width: 90%;
  margin-left: 2%;
}

#text-PlanosLG p{
  width: 70%;
}

#linha{
  height: 0.5vh;
    width: 12vw;
    background: #000;
  margin-bottom: 3%;
}

#planosLg{
  font-weight: bold;
  margin-top: 3%;
  font-size: 3.5vw;
}

#text-PlanosLG h1{
  font-weight: bold;
}

#text-Planos p {
  width: 85%;
  text-align: center;
}

.card{
  margin-left: 7.5%;
  margin-bottom: 3%;
  width: 85%;
  text-align: center;
  border: 2px solid var(--cor-secundaria);
}
#card-Lg3{
  margin-right: 5%;
}
#card-Lg{
  margin-left: 5%;
}
.card h1 {
  font-size: 10vw;
  margin-top: 7%;
  font-weight: bold;
}

.card h2 {
  font-size: 11vw;
  color: var(--text-color-gray);
}

.card h3 {
  font-weight: bold;
  margin-bottom: 7%;
}

.sub-Card {
  background-color: var(--cor-secundaria);
  border-radius: var(--bs-card-border-radius) var(--bs-card-border-radius) 0 0;
}

.sub-Card h1 {
  font-size: 7vw;
}

.custom-list-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ul-planos {
  margin: 0;
  padding: 0;
}

.custom-list-item {
  font-size: 4.2vw;
  margin-bottom: 5%;
}

li.custom-list-item {
  display: flex;
  align-items: center;
  padding-left: 1em;
  position: relative;

}

li.custom-list-item::before {
  content: '•';
  position: absolute;
  left: 0;
  font-size: 1.5em;
  color: black;
}

.btn-hire, .btn-hire2 {
  margin-bottom: 7%;
  padding: 3% 0;
  font-size: 5vw;
  border: none;
  background: black;
  width: 80%;
  color: var(--text-color);
  border-radius: 2vw;
}

.preco{
  font-weight: 200;
  margin-top: 3%;
  margin-bottom: 1.6vw;
}
.gratis{
  margin-bottom: 5.3%;
}

.preco-center {
  font-size: 12vw;
}

.preco-right {
  font-size: 6vw;
}

.preco-margin {
  margin-right: 2vw;
}

.preco-left {
  height: 100%;
  font-size: 7vw;
}

#container-CardLg{
  display: inline-flex;
  align-items: center;
  width: 100%;
}
.preco-container{
  height: 16vw;
}
