
<div class="d-none d-xl-block d-xxl-block">
    <div class="container mt-5">
      <div class="text-center mb-4">
        <h1>Nome do Evento, do dia dd/mm/yyyy</h1>
      </div>
  
      <!-- Seção de Recebimento -->
      <div class="row mb-4">
        <div class="col-lg-6 mb-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Recebimento de Pagamento</h5>
              <canvas id="recebimentoChart"></canvas>
            </div>
          </div>
        </div>
        <div class="col-lg-3 mb-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Recebimento Pendente</h5>
              <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  Venda de Ingresso
                  <span>R$ 1.000,00</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  Venda de Comidas Salgadas
                  <span>R$ 800,00</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  Venda de Comidas Doces
                  <span>R$ 600,00</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  Venda de Bebidas Alcoólicas
                  <span>R$ 400,00</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  Venda de Bebidas Não Alcoólicas
                  <span>R$ 200,00</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-3 mb-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Recebido</h5>
              <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  Venda de Ingresso
                  <span>R$ 5.000,00</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  Venda de Comidas Salgadas
                  <span>R$ 3.000,00</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  Venda de Comidas Doces
                  <span>R$ 3.000,00</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  Venda de Bebidas Alcoólicas
                  <span>R$ 5.000,00</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  Venda de Bebidas Não Alcoólicas
                  <span>R$ 4.000,00</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
  
      <!-- Seção de Gastos -->
      <div class="row mb-4">
        <div class="col-lg-6 mb-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Gastos do Evento</h5>
              <canvas id="gastosChart"></canvas>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="row">
            <div class="col-lg-6 mb-4">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Gastos Pendentes</h5>
                  <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      Aluguel do Espaço
                      <span>R$ 1.000,00</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      Estrutura do Palco
                      <span>R$ 1.000,00</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      Contratados
                      <span>R$ 1.000,00</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      Decorações
                      <span>R$ 1.000,00</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      Comida Salgada
                      <span>R$ 1.000,00</span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-lg-6 mb-4">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Gastos</h5>
                  <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      Aluguel do Espaço
                      <span>R$ 10.000,00</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      Estrutura do Palco
                      <span>R$ 10.000,00</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      Contratados
                      <span>R$ 15.000,00</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      Decorações
                      <span>R$ 10.000,00</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      Comida Salgada
                      <span>R$ 5.000,00</span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  
      <!-- Fluxo de Caixa -->
      <div class="row mb-4">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Fluxo de Caixa</h5>
              <canvas id="fluxoCaixaChart"></canvas>
            </div>
          </div>
        </div>
      </div>
  
      <!-- Análise do Evento -->
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Análise do Evento</h5>
          <p>
            Ao analisar os gráficos de gastos e recebimentos, o evento mostra um
            controle eficiente das despesas e um aumento significativo nas receitas.
          </p>
        </div>
      </div>
    </div>
  </div>


<app-footer></app-footer>
