.grandContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

#text-Quem-somos {
  width: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

#text-Quem-somos h1 {
  font-size: 7.5vw;
  font-weight: bold;

}


#h1-qmsomos {
  margin-top: 5%;
  height: 12vw;
}

#p-mobile {
  font-size: 3.5vw;
  margin-bottom: 8vw;
}