#background{
  background: black;
  height: 100vh;
}
#seta{
  width: 8vw;
}
#button-seta{
  top: 4%;
  left: 5%;
  position: absolute;
  border: none;
  background: none;
}
#logo{
  margin-top: 20%;
  margin-bottom: 15%;;
  width: 25%;
}
#containerSection{
  text-align: center;
}
#containerInput{
  border: 1px solid;
}
#containerLogin{
  background-color: #fff;
  width: 100%;
  height: 75vh;
  border-radius: 63px 0 0 0 ;
  flex: 1;
  justify-content: center;
  text-align: center;
}
#containerLogin h1{
  font-size: 9.5vw;
  padding: 13%;
  font-weight: bold;
}
#containerLogin{
  border: 1px solid;
}
#btnLogin{
  margin-top: 13%;
  width: 90%;
  height: 4vh;
  border-radius: 9px;
  font-size: 5vw;
  font-weight: bold;
  background-color: black;
  color: var(--text-color);
  border: none;
  box-shadow: none;
}
