<div class="d-xs-block d-md-none" id="background">
  <section id="containerSection" class="d-flex align-items-center justify-content- flex-column">
    <button id="button-seta" [routerLink]="['/apresentacao']">
      <img class="img-fluid" id="seta" src="../../../assets/Elementos/Seta.png">
    </button>
    <div id="img-container">
      <img src="../../../assets/Logo/isoLogo.png" id="iso-logo" class="img_fluid">
    </div>
    <div id="Login">
      <h1 class="text-center" id="h1-Login">Login</h1>
      <ng-form method="get" id="formulario">

        <fieldset>
          <legend>E-mail</legend>
          <input class="input-form" matInput type="email" placeholder="seuemail@gmail.com">
          <img class="img-fluid icon-form" src="../../../assets/Elementos/email.png">
        </fieldset>

        <fieldset>
          <legend>Senha</legend>
          <input class="input-form" matInput [type]="typeSenha" placeholder="* * * *">
          <img class="img-fluid icon-form"
            [src]="typeSenha === 'password' ? '../../../assets/Elementos/password_hide.png': '../../../assets/Elementos/password_view.png'"
            (click)="visibilidadeSenha()">
        </fieldset>

        <div class="w-100 d-flex align-items-center flex-column">
          <button id="button-submit">Entrar</button>
          <div id="container-EsqueceuSenha">
            <a id="a-ES" [routerLink]="['/']">Esqueceu a senha?</a>
          </div>
        </div>

        <div id="container-SignUp">
          <span id="span-SignUp">Ainda não tem uma conta? <a id="a-SignUp"
              [routerLink]="['/cadastro']">Cadastre-se</a></span>
        </div>
      </ng-form>
    </div>
  </section>
</div>

<div class="d-none d-md-block d-lg-block">
  <mat-grid-list cols="2" rowHeight="100vh">
    <mat-grid-tile id="background">
      <img src="../../../assets/Elementos/imgLogin.png" id="imgLogin">
    </mat-grid-tile>
    <mat-grid-tile id="container-SignupLg">
      <section>
        <button id="button-setaLg" [routerLink]="['/apresentacao']">
          <img class="img-fluid" id="setaLg" src="../../../assets/Elementos/SetaP.png">
        </button>
        <h1>Login</h1>
      </section>
      <section id="section-formLg">
        <form method="get" id="formularioLg" class="example-form" [formGroup]="LoginForm" (ngSubmit)="onEnviar()">
          <fieldset id="containerInputUser">
            <legend class="legendLg">E-mail</legend>
            <input class="input-formLg" matInput type="email" placeholder="seuemail@gmail.com" (blur)="verificarEmail()" formControlName="emailLogin">
            <img class="img-fluid icon-form" id="icon-formlg" src="../../../assets/Elementos/email.png">
          </fieldset>

          <fieldset id="containerInputEmail">
            <legend class="legendLg">Senha</legend>
            <input class="input-formLg" matInput [type]="typeSenha" placeholder="* * * *" formControlName="senhaLogin">
            <img class="img-fluid icon-form icon-form-password" id="icon-formlg"
              [src]="typeSenha === 'password' ? '../../../assets/Elementos/password_hide.png': '../../../assets/Elementos/password_view.png'"
              (click)="visibilidadeSenha()">
          </fieldset>
          <div id="btn-formLg">
            <button id="button-submitLg">Entrar</button>
            <div id="container-EsqueceuSenha-Lg">
              <a id="a-ES-Lg" [routerLink]="['/']">Esqueceu a senha?</a>
            </div>

          </div>
        </form>
        <div id="container-SignInLg">
          <span id="span-SignInLg">Ainda não tem conta? <a id="a-SignUp"
              [routerLink]="['/cadastro']">Cadastre-se</a></span>
        </div>
      </section>
    </mat-grid-tile>
  </mat-grid-list>
</div>
