@import url(../../../styles.css);

#background {
  height: 100vh;
  background: #000;
}

#button-seta {
  left: 5%;
  top: 4%;
  position: absolute;
  background: none;
  border: none;
}

#seta {
  width: 8vw;
}

#img-container {
  padding-top: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 10%;
}

#iso-logo {
  width: 16vw;
}

#cadastro {
  border-top-left-radius: 63px;
  flex: 1;
  width: 100%;
  background: var(--cor-primaria);
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 10%;
}

#section-container {
  height: 100%;
}

#h1-signUp {
  margin: 0;
  padding-bottom: 10%;
  color: #000;
  font-size: 9.5vw;
  font-weight: bold;
}

/*----------------*/

/* fieldset */
fieldset:disabled {
  pointer-events: revert;
  opacity: revert;
}

fieldset {
  border-radius: 8px;
  width: 80vw;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  min-width: revert;
  margin: revert;
  padding: 0 0% 1.5% 3%;
  border: 1.5px solid var(--cor-secundaria);
}

legend {
  float: none;
  width: auto;
  margin: 0;
  font-size: 4.5vw;
  padding: 0 3%;
  font-style: italic;
}

/*----------------*/

.input-form {
  all: unset;
  height: 100%;
  width: 80%;
  padding-left: 4%;
  font-size: 4vw;
}

.input-form::placeholder {
  color: #8a8a8a;
  font-style: italic;
}

.icon-form {
  width: 7vw;
  float: right;
}

#formulario {
  width: 100%;
  height: 120vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

#button-submit {
  height: 9.3vw;
  border-radius: 8px;
  background: #000;
  color: var(--cor-primaria);
  border: none;
  width: 90%;
  font-size: 5.2vw;
  font-weight: bold;
}

#container-SignIn {
  margin-bottom: 10vw;
}

#span-SignIn {
  color: var(--cor-secundaria);
  font-size: 4vw;
  font-style: italic;
}

#a-SignIn {
  color: #000;
  text-decoration: underline;
}