#background{
    background-color: black;
    width: 100%;
    height: 100%;
    text-align: center;
}
#logo{
    padding: 34.2% 5% 10%;
    width: 35%;
}
#container-Logo h1{
    font-size: 6vh;
    font-weight: bold;
    color: var(--text-color);
}
#littleContainerLogin{
    border-radius: 30px 30px 0 0;
    width: 100%;
    background-color: var(--cor-secundaria);
    padding-top: 8%;
    padding-left: 7%;
}
#littleContainerLogin h1{
    text-align: start;
    font-size: 4vh;
    font-weight: bolder;
    font-style: italic;
    margin-bottom: 8%;
}
#bigContainerLogin{
    padding-top: 10%;
}
#passwordConfirm, #username, #email, #password{
    width: 90%;
    height: 5vh;
    border: 0px;
    border-radius: 10px;
    font-size: 2vh;
    margin-right: 8%;
    margin-top: 5%;
} 
#container-Forgot{
    width: 90%;
    text-align: end;
    margin-top: 1%;
}
#forgot{
    color: var(--text-color);
}
#container-Btn{
    width: 90%;
}
#btnEntrar{
    border: 0;
    border-radius: 10px;
    width: 80%;
    color: var(--text-color);
    background-color: var(--cor-footer);
    height: 6vh;
    margin-top: 11%;
    font-size: 4vh;
    font-weight: bold;
    font-style: italic;
}
#container-Linkregister{
    margin-top: 6%;
    text-align: center;
    width: 90%;
    font-style: italic;
}
#container-Linkregister h1{
    text-align: center;
    font-size: 2.5vh;
    font-weight: normal;
}
#container-Linkregister a{
    font-size: 2vh;
    color: var(--text-color);
}
