<div class="d-xs-block d-md-none" id="background">
    <section id="container-Logo">
        <img src="../../../assets/Logo/isoLogo.png" id="logo" class="img-fluid">
        <h1>Bem-Vindo</h1>
    </section>
    <section id="bigContainerLogin">
        <div id="littleContainerLogin">
            <h1>Cadastro</h1>
            <div class="container-Login">
                <input id="username" type="text" placeholder="Username">
                <input id="email" type="text" placeholder="E-mail">
                <input id="password" type="text" placeholder="Senha">
                <input id="passwordConfirm" type="text" placeholder="Confirmar Senha">
                <div id="container-Btn">
                    <button id="btnEntrar">Entrar</button>
                </div>
                <div id="container-Linkregister">
                    <a>Já tem uma conta?</a><br>
                    <h1 [routerLink]="['/login']">Sing In</h1>
                </div>
            </div>
        </div>
    </section>
</div>

