<div class="d-xs-block d-md-none" id="background">
  <section class="d-flex align-items-center flex-column" id="section-container">
    <button id="button-seta" [routerLink]="['/login']">
      <img class="img-fluid" id="seta" src="../../../assets/Elementos/Seta.png">
    </button>
    <div id="img-container">
      <img class="img-fluid" id="iso-logo" src="../../../assets/Logo/isoLogo.png">
    </div>
    <div id="cadastro">
      <h1 class="text-center" id="h1-signUp">Sign Up</h1>
      <ng-form method="post" id="formulario">
        <fieldset>
          <legend>Username</legend>
          <input class="input-form" matInput type="text" placeholder="usuário_1234">
          <img class="img-fluid icon-form" src="../../../assets/Elementos/username.png">
        </fieldset>
        <fieldset>
          <legend>E-mail</legend>
          <input class="input-form" matInput type="email" placeholder="seuemail@gmail.com">
          <img class="img-fluid icon-form" src="../../../assets/Elementos/email.png">
        </fieldset>
        <fieldset>
          <legend>Senha</legend>
          <input class="input-form" matInput [type]="typeInput" placeholder="* * * *">
          <img class="img-fluid icon-form"
            [src]="typeInput === 'password' ? '../../../assets/Elementos/password_hide.png': '../../../assets/Elementos/password_view.png'"
            (click)="visibilidadeSenha()">
        </fieldset>
        <fieldset>
          <legend>Confirmar Senha</legend>
          <input class="input-form" matInput [type]="typeInputConfirm" placeholder="* * * *">
          <img class="img-fluid icon-form"
            [src]="typeInputConfirm === 'password' ? '../../../assets/Elementos/password_hide.png': '../../../assets/Elementos/password_view.png'"
            (click)="visibilidadeConfirmSenha()">
        </fieldset>
        <button id="button-submit">Sign Up</button>

        <div id="container-SignIn">
          <span id="span-SignIn">Já tem uma conta ? <a id="a-SignIn" [routerLink]="['/login']">Sign In</a></span>
        </div>
      </ng-form>
    </div>
  </section>
</div>

<div class="d-lg-block d-md-none" >
    <mat-grid-list cols="2" rowHeight="100vh">
        <mat-grid-tile id="container-SignupLg">
            <section>
                <button id="button-setaLg" [routerLink]="['/login']">
                    <img class="img-fluid" id="setaLg" src="../../../assets/Elementos/SetaP.png">
                </button>
                <h1>Sign Up</h1>
            </section>
            <section>
                <ng-form method="post" id="formularioLg">
                    <fieldset id="containerInputUser">
                        <legend class="legendLg">Username</legend>
                        <input class="input-formLg" matInput type="text" placeholder="usuário_1234">
                        <img class="img-fluid icon-form" id="icon-formlg" src="../../../assets/Elementos/username.png">
                    </fieldset>
                    <fieldset id="containerInputEmail">
                        <legend class="legendLg">Email</legend>
                        <input class="input-formLg" matInput type="email" placeholder="email@gmail.com">
                        <img class="img-fluid icon-form" id="icon-formlg" src="../../../assets/Elementos/email.png">
                    </fieldset>
                    <fieldset id="containerInputPass">
                        <legend class="legendLg">Senha</legend>
                        <input class="input-formLg" matInput type="password" placeholder="* * * *">
                        <img class="img-fluid icon-form" id="icon-formlg" src="../../../assets/Elementos/password_hide.png">
                    </fieldset>
                    <fieldset id="containerInputConfirm">
                        <legend class="legendLg">Confirmar Senha</legend>
                        <input class="input-formLg" matInput type="password" placeholder="* * * *">
                        <img class="img-fluid icon-form" id="icon-formlg" src="../../../assets/Elementos/password_hide.png">
                    </fieldset>
                    <button id="button-submitLg">Sign Up</button>
                </ng-form>
                <div id="container-SignInLg">
                    <span id="span-SignInLg">Já tem uma conta? <a id="a-SignIn" [routerLink]="['/login']">Sign In</a></span>
                </div>   
            </section>
        </mat-grid-tile>
        <mat-grid-tile id="background">
            <img src="../../../assets/Elementos/imgSingUp.png">
        </mat-grid-tile>
   </mat-grid-list>
</div>