<div class="d-xs-block d-md-none">
    <button id="button-seta" [routerLink]="['/login']">
        <img class="img-fluid" id="seta" src="../../../assets/Elementos/SetaP.png">
    </button>
    <section id="container-h1Termos">
        <h1>TERMO DE USO</h1>
    </section>
    <section id="container-pTermos">
        <p>cleber cleber cleber cleber cleber cleber cleber cleber cleber clebe cleber cleber cleber</p>
    </section>
</div>



<div class="d-none d-md-block d-lg-block">
    <button id="button-seta" [routerLink]="['/login']">
        <img class="img-fluid" id="seta" src="../../../assets/Elementos/SetaP.png">
    </button> 
    <section id="container-h1TermosLG">
        <h1>TERMO DE USO</h1>
    </section>
    <section id="container-pTermosLG">
        <p>cleber cleber cleber cleber cleber cleber cleber cleber cleber clebe cleber cleber cleber</p>
    </section>
</div>

<app-footer></app-footer>