<div class="d-xs-block d-md-none">
    <button id="button-seta" [routerLink]="['/cadastro']">
        <img class="img-fluid" id="seta-mobile" src="../../../assets/Elementos/SetaP.png">
    </button>
    <section id="container-h1Termos">
        <h1>TERMO DE USO</h1>
    </section>
    <section id="container-Termos">
        <main id="main-mobile">
            <h2 id="h2-mobile"><b>Termos de Uso do Event For You</b></h2>
            <h3 id="h3-mobile"><b>Última atualização:</b> 01/12/2024</h3>
            <p class="p-mobile">Seja bem vindo ao Event For You. Este documento estabelece os Termos e Condições de Uso
                da nossa
                plataforma SaaS, desenvolvida pela equipe de alunos do 3º ano de Desenvolvimento de Sistemas da Etec
                Professor Horácio Augusto da Silveira NexisCode, com sede no Brasil em São Paulo. Ao utilizar o EventFy,
                você concorda com as condições descritas neste documento. Caso não concorde, pedimos que não utilize a
                plataforma.</p>
            <ol id="ol-mobile">
                <li class="li-mobile">Definições Principais do Sistema

                    <ul class="ul-mobile">
                        <li class="sub-li-mobile">
                            <b>Plataforma:</b> Refere-se ao sistema Event For You, disponível em múltiplas plataformas
                            (PC,
                            celular, tablet e dispositivos com acesso à rede Wifi);
                        </li>
                        <li class="sub-li-mobile">
                            <b>Usuário:</b> Qualquer pessoa cadastrada na plataforma, seja como organizador, staff ou
                            colaborador de eventos;
                        </li>
                        <li class="sub-li-mobile">
                            <b>Planos:</b> Os serviços oferecidos nas modalidades são: Básico (gratuito), Médio
                            (R$9,90/mês) e Avançado (R$19,90/mês);
                        </li>
                        <li class="sub-li-mobile">
                            <b>Equipe NexisCode:</b> Desenvolvedores do sistema Event For You para o Trabalho de
                            Conclusão de Curso no ano de 2024.
                        </li>
                    </ul>
                </li>
                <li class="li-mobile">Funcionalidades Disponíveis<br>
                    <span class="span-li-mobile">Os usuários cadastrados na plataforma terão acesso a funcionalidades
                        como:</span>
                    <ul class="ul-mobile">
                        <li class="sub-li-mobile">
                            <b>Gerenciamento de eventos:</b> Planejamento, acompanhamento e execução de eventos.
                        </li>
                        <li class="sub-li-mobile">
                            <b>Controle financeiro:</b> Organização de gastos e receitas dos eventos.
                        </li>
                        <li class="sub-li-mobile">
                            <b>CRUD de eventos:</b> Criação, leitura, atualização e exclusão de eventos.
                        </li>
                        <li class="sub-li-mobile">
                            <b>Lista de tarefas:</b> Organização de atividades relacionadas ao evento.
                        </li>
                        <li class="sub-li-mobile">
                            <b>Relatórios gerais:</b> Resumo financeiro e operacional do evento.
                        </li>
                        <li class="sub-li-mobile">
                            <b>Integração com agenda:</b> Para acompanhamento de datas e lembretes.
                        </li>
                    </ul>
                    <span class="span-li-mobile">As funcionalidades podem variar conforme o plano contratado,
                        principalmente no quesito quantitativo de criação ou exclusão de eventos.</span>

                </li>
                <li class="li-mobile">Cadastro de Usuários<br>
                    <span class="span-li-mobile">Para utilizar a plataforma, os usuários devem fornecer informações
                        verdadeiras no momento do cadastro, incluindo principalmente e obrigatoriamente:</span>
                    <ul class="ul-mobile">
                        <li class="sub-li-mobile">
                            Nome;
                        </li>
                        <li class="sub-li-mobile">
                            E-mail válido;
                        </li>
                        <li class="sub-li-mobile">
                            Senha (que será protegida e criptografada pela plataforma).
                        </li>
                    </ul>

                    <span class="span-li-mobile">Os dados fornecidos serão utilizados exclusivamente para:</span>
                    <ul class="ul-mobile">
                        <li class="sub-li-mobile">
                            Enviar alertas sobre alterações ou datas de eventos;
                        </li>
                        <li class="sub-li-mobile">
                            Acesso as contas e utilizações de perfis referentes aos eventos e sistema;
                        </li>
                        <li class="sub-li-mobile">
                            Garantir a operacionalidade da plataforma.
                        </li>
                    </ul>
                </li>
                <li class="li-mobile">Planos e Pagamentos<br>
                    <span class="span-li-mobile">Os serviços estão disponíveis nos seguintes planos:</span>
                    <ul class="ul-mobile">
                        <li class="sub-li-mobile">
                            <b>Plano Básico:</b> Gratuito.
                        </li>
                        <li class="sub-li-mobile">
                            <b>Plano Médio:</b> R$9,90/mês.
                        </li>
                        <li class="sub-li-mobile">
                            <b>Plano Avançado:</b> R$19,90/mês.
                        </li>
                    </ul>
                    <span class="span-li-mobile">Os pagamentos, quando implementados, serão processados por APIs
                        seguras.
                    </span>
                </li>
                <li class="li-mobile">Regras de Conduta<br>
                    <span class="span-li-mobile">Os usuários concordam em:</span>
                    <ul class="ul-mobile">
                        <li class="sub-li-mobile">
                            Utilizar a plataforma exclusivamente para fins relacionados à organização e gestão de
                            eventos.
                        </li>
                        <li class="sub-li-mobile">
                            Não compartilhar dados obtidos na plataforma com terceiros para fins indevidos.
                        </li>
                        <li class="sub-li-mobile">
                            Não realizar atividades que possam comprometer a segurança ou integridade da plataforma.
                        </li>
                    </ul>
                    <span class="span-li-mobile"><b>Penalidades:</b></span>
                    <ul class="ul-mobile">
                        <li class="sub-li-mobile">
                            Contas que violarem estas regras poderão ser suspensas ou banidas.
                        </li>
                        <li class="sub-li-mobile">
                            E-mails de contas banidas serão invalidados para novos cadastros.
                        </li>
                    </ul>
                </li>
                <li class="li-mobile">Propriedade Intelectual<br>
                    <span class="span-li-mobile">Todo o conteúdo da plataforma, incluindo código, layout e
                        funcionalidades, pertence à equipe NexisCode. Qualquer uso não autorizado está sujeito a
                        penalidades legais.</span>
                </li>
                <li class="li-mobile">Atualizações nos Termos<br>
                    <span class="span-li-mobile">O Event For You pode modificar estes Termos a qualquer momento. Os
                        usuários serão notificados por e-mail sobre as alterações com antecedência mínima de 30
                        dias.</span>
                </li>
                <li class="li-mobile">Limitação de Responsabilidade<br>
                    <span class="span-li-mobile">A plataforma é disponibilizada "como está" e "conforme disponível". A
                        equipe NexisCode não se responsabiliza por:</span>
                    <ul class="ul-mobile">
                        <li class="sub-li-mobile">
                            Danos causados por mau uso da plataforma.
                        </li>
                        <li class="sub-li-mobile">
                            Erros provenientes de integração com APIs externas.
                        </li>
                    </ul>
                </li>
                <li class="li-mobile">Suporte e Ouvidoria<br>
                    <span class="span-li-mobile">A plataforma garante suporte técnico e ouvidoria para todos os
                        usuários. Para entrar em contato, envie uma mensagem para <i>eventfycompany@gmail.com</i>.</span>
                </li>
                <li class="li-mobile">Legislação Aplicável<br>
                    <span class="span-li-mobile">Este Termo de Uso é regido pelas leis brasileiras. Quaisquer disputas
                        devem ser resolvidas em foro competente no Brasil.</span>
                </li>
                <li class="li-mobile">Aceitação dos Termos<br>
                    <span class="span-li-mobile">O uso do Event For You implica na aceitação integral dos presentes
                        Termos de Uso. O usuário reconhece que leu e concorda com as condições aqui
                        estabelecidas.</span>
                </li>
            </ol>
        </main>
    </section>
</div>



<div class="d-none d-md-block d-lg-block">
    <button id="button-seta" [routerLink]="['/login']">
        <img class="img-fluid" id="seta" src="../../../assets/Elementos/SetaP.png">
    </button>
    <section id="container-h1TermosLG">
        <main>
            <h1>TERMO DE USO</h1>

        </main>
    </section>
    <section id="container-pTermosLG">
        <p>cleber cleber cleber cleber cleber cleber cleber cleber cleber clebe cleber cleber cleber</p>
    </section>
</div>

<app-footer></app-footer>