<section class="d-block d-md-none">
  <div id="container-mobile" class="d-flex align-items-start flex-column justify-content-between">
    <div id="containerImg">
      <img src="../../../../assets/Logo/Logo.png" alt="Event Fy" class="img-fluid" id="Logo-mobile">
    </div>
    <div id="container-info-mobile" class="d-flex align-items-setart flex-column justify-content-evenly">
      <h1 id="h1-mobile">PLATAFORMA DE GESTAO DE <span id="color-h1">EVENTO</span></h1>
      <p id="descricao">
        Projetada para simplificar cada etapa do planejamento, Eventfy oferece uma gama de ferramentas integradas que
        facilitam desde a organização inicial até a análise pós-evento.
      </p>
      <button class="" id="btn-mobile">Contratar</button>
    </div>
  </div>
</section>