@import url("../../../../styles.css");

* {
  color: aliceblue;
}

#container-mobile, #container-desktop {
  background-image: url('../../../../assets/Background/Principal_bg.png');
  background-size: 100% 100%;
  padding-bottom: 20vw;
}

#container-desktop {
  height: 100vh;
  padding-bottom: 5%;
}

#Logo-mobile, #Logo-desktop {
  padding: 7% 0 5% 0;
  width: 45vw;
  display: block;
  margin: 0 auto;
  padding: 0;
}

#container-info-mobile, #container-info-desktop {
  padding: 0 0 0 4.5vw;

}

#container-info-desktop {
  height: 75vh;
}

#h1-mobile, #h1-desktop {
  line-height: 1.2;
  width: 90%;
  font-size: 7.5vw;
  font-weight: bold;
}

#color-h1 {
  color: var(--cor-secundaria);
}

#containerImg {
  height: 30%;
  width: 100%;
}

#descricao, #descricao-desktop {
  width: 93%;
  font-weight: 250;
  font-size: 3.8vw;
  line-height: 120%;
}

#btn-mobile, #btn-desktop {
  width: 30%;
  margin-top: 2%;
  padding: 3% 0;
  font-size: 4vw;
  border: none;
  background: var(--cor-secundaria);
  min-width: 38vw;
  max-width: 43vw;
  color: #000;
  border-radius: 8vw;
}

/* desktop */

#Logo-desktop {
  padding: 0;
  width: 20vw;
}

#h1-desktop {
  font-size: 4vw;
}

#descricao-desktop {
  width: 60%;
  font-size: 2.4vw;
}

#btn-desktop {
  padding: 1% 0;
  font-size: 2vw;
  min-width: auto;
  max-width: none;
  width: 22vw;
}

#containerImg-desktop {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
