<div class="d-xs-block d-lg-none">
  <div id="eventoMobile">
    <div id="containerMobile">
      <section id="tituloMobile">
        <h1 id="nomeEventoMobile">Nome do Evento,</h1>
        <p id="dataEventoMobile">do dia dd/mm/yyyy</p>
      </section>
      <div id="conteudoMobile">
        <!-- Gastos do Evento -->
        <div class="blocoInfosMobile">
          <h1 class="tituloBlocoMobile">Gastos do Evento</h1>
          <div class="graficoMobile">
            <img src="image.png" alt="Gráfico de Gastos" />
          </div>
          <ul class="legendaMobile">
            <li><span class="legendaCor cor1"></span> Aluguel do Espaço</li>
            <li><span class="legendaCor cor2"></span> Estrutura do Palco</li>
            <li><span class="legendaCor cor3"></span> Contratados</li>
            <li><span class="legendaCor cor4"></span> Decorações</li>
            <li><span class="legendaCor cor5"></span> Comida Salgada</li>
            <li><span class="legendaCor cor6"></span> Comida Doce</li>
            <li><span class="legendaCor cor7"></span> Bebida Alcoólica</li>
            <li><span class="legendaCor cor8"></span> Bebida Não Alcoólica</li>
          </ul>
  
          <h1 class="tituloBlocoMobile">Gastos Pendentes</h1>
          <ul>
            <li class="infoLinhaMobile">Aluguel do Espaço: <strong>R$ 1.000,00</strong></li>
            <li class="infoLinhaMobile">Estrutura do Palco: <strong>R$ 1.000,00</strong></li>
            <li class="infoLinhaMobile">Contratados: <strong>R$ 1.000,00</strong></li>
            <li class="infoLinhaMobile">Decorações: <strong>R$ 1.000,00</strong></li>
            <li class="infoLinhaMobile">Comida Salgada: <strong>R$ 1.000,00</strong></li>
            <li class="infoLinhaMobile">Comida Doce: <strong>R$ 1.000,00</strong></li>
            <li class="infoLinhaMobile">Bebida Alcoólica: <strong>R$ 1.000,00</strong></li>
            <li class="infoLinhaMobile">Bebida Não Alcoólica: <strong>R$ 1.000,00</strong></li>
            <div class="linha"></div>
            <li class="totalLinhaMobile"><strong>Gasto Pendente Total: R$ 9.000,00</strong></li>
          </ul>
  
          <h1 class="tituloBlocoMobile">Gastos</h1>
          <ul>
            <li class="infoLinhaMobile">Aluguel do Espaço: <strong>R$ 1.000,00</strong></li>
            <li class="infoLinhaMobile">Estrutura do Palco: <strong>R$ 1.000,00</strong></li>
            <li class="infoLinhaMobile">Contratados: <strong>R$ 1.000,00</strong></li>
            <li class="infoLinhaMobile">Decorações: <strong>R$ 1.000,00</strong></li>
            <li class="infoLinhaMobile">Comida Salgada: <strong>R$ 1.000,00</strong></li>
            <li class="infoLinhaMobile">Comida Doce: <strong>R$ 1.000,00</strong></li>
            <li class="infoLinhaMobile">Bebida Alcoólica: <strong>R$ 1.000,00</strong></li>
            <li class="infoLinhaMobile">Bebida Não Alcoólica: <strong>R$ 1.000,00</strong></li>
            <div class="linha"></div>
            <li class="totalLinhaMobile"><strong>Gasto Total: R$ 9.000,00</strong></li>
          </ul>
        </div>
  
        <!-- Recebimento de Pagamento -->
        <div class="blocoInfosMobile2">
          <h1 class="tituloBlocoMobile">Recebimento de Pagamento</h1>
          <div class="graficoMobile">
            <img src="image.png" alt="Gráfico de Recebimento" />
          </div>
          <ul class="legendaMobile">
            <li><span class="legendaCor cor1"></span> Venda de Ingressos</li>
            <li><span class="legendaCor cor2"></span> Venda de Comidas Salgadas</li>
            <li><span class="legendaCor cor3"></span> Venda de Comidas Doces</li>
            <li><span class="legendaCor cor4"></span> Venda de Bebidas Alcoólicas</li>
            <li><span class="legendaCor cor5"></span> Venda de Bebidas Não Alcoólicas</li>
          </ul>
  
          <h1 class="tituloBlocoMobile">Recebimento Pendente</h1>
          <ul>
            <li class="infoLinhaMobile">Venda de Ingressos: <strong>R$ 1.000,00</strong></li>
            <li class="infoLinhaMobile">Venda de Comidas Salgadas: <strong>R$ 800,00</strong></li>
            <li class="infoLinhaMobile">Venda de Comidas Doces: <strong>R$ 600,00</strong></li>
            <li class="infoLinhaMobile">Venda de Bebidas Alcoólicas: <strong>R$ 400,00</strong></li>
            <li class="infoLinhaMobile">Venda de Bebidas Não Alcoólicas: <strong>R$ 200,00</strong></li>
            <div class="linha"></div>
            <li class="totalLinhaMobile"><strong>Recebimento Pendente Total: R$ 3.000,00</strong></li>
          </ul>
  
          <h1 class="tituloBlocoMobile">Recebido</h1>
          <ul>
            <li class="infoLinhaMobile">Venda de Ingressos: <strong>R$ 5.000,00</strong></li>
            <li class="infoLinhaMobile">Venda de Comidas Salgadas: <strong>R$ 5.000,00</strong></li>
            <li class="infoLinhaMobile">Venda de Comidas Doces: <strong>R$ 3.000,00</strong></li>
            <li class="infoLinhaMobile">Venda de Bebidas Alcoólicas: <strong>R$ 4.000,00</strong></li>
            <li class="infoLinhaMobile">Venda de Bebidas Não Alcoólicas: <strong>R$ 3.000,00</strong></li>
            <div class="linha"></div>
            <li class="totalLinhaMobile"><strong>Recebimento Total: R$ 20.000,00</strong></li>
          </ul>
        </div>
        <div class="blocoInfosMobile2">
          <h1 class="tituloBlocoMobile">Fluxo de Caixa</h1>
          <div class="graficoMobile">
            <img src="image.png" alt="Gráfico de Fluxo de Caixa" />
          </div>
          <ul class="legendaMobile">
            <li><span class="legendaCor cor1"></span> Recebimento</li>
            <li><span class="legendaCor cor2"></span> Gasto</li>
          </ul>
        </div>
    
        <!-- Bloco de Análise do Evento -->
        <div class="blocoInfosMobile2">
          <h1 class="tituloBlocoMobile">Análise do Evento:</h1>
          <p class="textoAnaliseMobile">
            Ao analisar os gráficos de gastos e recebimentos, o seu evento mostra
            um controle eficiente das despesas e um aumento significativo nas receitas.
            Nos gráficos de gastos, observa-se que os custos foram dentro do planejado,
            evitando excessos e realocando recursos para áreas mais estratégicas, como
            marketing e experiência do público. Já os gráficos de recebimento indicam
            um crescimento constante nas vendas de ingressos e outros serviços,
            alcançando o pico durante o evento. Esse equilíbrio entre controle de
            gastos e maximização de receitas demonstra o sucesso financeiro do evento.
          </p>
        </div>
      </div>
    </div>
  </div>
  
  </div>

<div class="d-none d-xl-block d-xxl-block">
  <div id="grandContainer-desktop">
    <div id="container-desktop">
      <section id="containerTitle-desktop">
        <h1 id="title1-desktop">Nome do Evento,</h1>
        <p id="title2-desktop">do dia dd/mm/yyyy</p>
      </section>
      <div id="litteContainer">
        <div class="containerInfos-desktop">
          <h1 class="title3-desktop">Recebimento de Pagamento</h1>
          <div class="littleContainerInfos-desktop">
            <div class="littleContainerGrafico-desktop"></div>
            <div class="linha-desktop"></div>
            <div class="littleContainersInfos-desktop">
              <h3 class="title4-desktop">Recebimento Pendente</h3>
              <ul>
                <li class="recebimentosPendentes">Venda de Ingressos: <strong>R$ 500,00</strong></li>
                <li class="recebimentosPendentes">Venda de Comidas Salgadas: <strong>R$ 800,00</strong></li>
                <li class="recebimentosPendentes">Venda de Comidas Doces: <strong>R$ 600,00</strong></li>
                <li class="recebimentosPendentes">Venda de Bebidas Alcoólicas: <strong>R$ 300,00</strong></li>
                <li class="recebimentosPendentes">Venda de Bebidas Não Alcoólicas: <strong>R$ 200,00</strong></li>
                <li class="recebimentosPendenteTotal"><strong>Total Pendente: R$ 3.000,00</strong></li>
              </ul>
            </div>
            <div class="linha-desktop"></div>
            <div class="littleContainersInfos-desktop">
              <h3 class="title4-desktop">Recebido</h3>
              <ul>
                <li class="recebimentosPendentes">Venda de Ingressos: <strong>R$ 500,00</strong></li>
                <li class="recebimentosPendentes">Venda de Comidas Salgadas: <strong>R$ 800,00</strong></li>
                <li class="recebimentosPendentes">Venda de Comidas Doces: <strong>R$ 600,00</strong></li>
                <li class="recebimentosPendentes">Venda de Bebidas Alcoólicas: <strong>R$ 300,00</strong></li>
                <li class="recebimentosPendentes">Venda de Bebidas Não Alcoólicas: <strong>R$ 200,00</strong></li>
                <li class="recebimentosPendenteTotal"><strong>Total Pendente: R$ 3.000,00</strong></li>
              </ul>
            </div>
          </div>
        </div>

        <div id="litteContainer2">
          <div class="containerInfos-desktop">
            <h1 class="title3-desktop">Gastos do Evento</h1>
            <div class="littleContainerInfos-desktop">
              <div class="littleContainerGrafico-desktop"></div>
              <div class="linha-desktop"></div>
              <div class="littleContainersInfos-desktop">
                <h3 class="title4-desktop">Gastos Pendentes</h3>
                <ul>
                  <li class="recebimentosPendentes">Venda de Ingressos: <strong>R$ 500,00</strong></li>
                  <li class="recebimentosPendentes">Venda de Comidas Salgadas: <strong>R$ 800,00</strong></li>
                  <li class="recebimentosPendentes">Venda de Comidas Doces: <strong>R$ 600,00</strong></li>
                  <li class="recebimentosPendentes">Venda de Bebidas Alcoólicas: <strong>R$ 300,00</strong></li>
                  <li class="recebimentosPendentes">Venda de Bebidas Não Alcoólicas: <strong>R$ 200,00</strong></li>
                  <li class="recebimentosPendenteTotal"><strong>Total Pendente: R$ 3.000,00</strong></li>
                </ul>
              </div>
              <div class="linha-desktop"></div>
              <div class="littleContainersInfos-desktop">
                <h3 class="title4-desktop">Gastos</h3>
                <ul>
                  <li class="recebimentosPendentes">Venda de Ingressos: <strong>R$ 500,00</strong></li>
                  <li class="recebimentosPendentes">Venda de Comidas Salgadas: <strong>R$ 800,00</strong></li>
                  <li class="recebimentosPendentes">Venda de Comidas Doces: <strong>R$ 600,00</strong></li>
                  <li class="recebimentosPendentes">Venda de Bebidas Alcoólicas: <strong>R$ 300,00</strong></li>
                  <li class="recebimentosPendentes">Venda de Bebidas Não Alcoólicas: <strong>R$ 200,00</strong></li>
                  <li class="recebimentosPendenteTotal"><strong>Total Pendente: R$ 3.000,00</strong></li>
                </ul>
              </div>
            </div>
          </div>
          <div id="containerSecondInf-desktop">
            <div id="containerFluxoCaixa-desktop">
              <h3 class="title5-desktop">Fluxo de Caixa</h3>
            </div>
            <div id="containerAnaliEvento-desktop">
              <h3 class="title5-desktop">Análise do Evento</h3>
              <div class="analise">
                <p class="textAnalise">
                  Ao analisar os gráficos de gastos e recebimentos so seu evento mostra um controle eficiente das
                  despesas e um aumento
                  significativo nas receitas. Nos gráficos de gastos, observa-se que os custos foram dentro do
                  planejado, evitando excessos
                  e realocando recursos para áreas mais estratégicas, como marketing e experiência do público. Já os
                  gráficos de recebimento
                  indicam um crescimento constante nas vendas de ingressos e outros serviços, alcançando o pico durante
                  o evento. Esse equilíbrio
                  entre controle de gastos e maximização de receitas demonstra o sucesso financeiro do evento.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  