
<div class="d-none d-xl-block d-xxl-block">
  <div id="grandContainer-desktop">
    <div id="container-desktop">
      <section id="containerTitle-desktop">
        <h1 id="title1-desktop">Nome do Evento,</h1>
        <p id="title2-desktop">do dia dd/mm/yyyy</p>
      </section>
      <div id="litteContainer">
        <div class="containerInfos-desktop">
          <h1 class="title3-desktop">Recebimento de Pagamento</h1>
          <div class="littleContainerInfos-desktop">
            <div class="littleContainerGrafico-desktop"></div>
            <div class="linha-desktop"></div>
            <div class="littleContainersInfos-desktop">
              <h3 class="title4-desktop">Recebimento Pendente</h3>
              <ul>
                  <li class="recebimentosPendentes">Venda de Ingressos: <strong>R$ 500,00</strong></li>
                  <li class="recebimentosPendentes">Venda de Comidas Salgadas: <strong>R$ 800,00</strong></li>
                  <li class="recebimentosPendentes">Venda de Comidas Doces: <strong>R$ 600,00</strong></li>
                  <li class="recebimentosPendentes">Venda de Bebidas Alcoólicas: <strong>R$ 300,00</strong></li>
                  <li class="recebimentosPendentes">Venda de Bebidas Não Alcoólicas: <strong>R$ 200,00</strong></li>
                  <li class="recebimentosPendenteTotal"><strong>Total Pendente: R$ 3.000,00</strong></li>
              </ul>
            </div>
            <div class="linha-desktop"></div>
            <div class="littleContainersInfos-desktop">
              <h3 class="title4-desktop">Recebido</h3>
              <ul>
                  <li class="recebimentosPendentes">Venda de Ingressos: <strong>R$ 500,00</strong></li>
                  <li class="recebimentosPendentes">Venda de Comidas Salgadas: <strong>R$ 800,00</strong></li>
                  <li class="recebimentosPendentes">Venda de Comidas Doces: <strong>R$ 600,00</strong></li>
                  <li class="recebimentosPendentes">Venda de Bebidas Alcoólicas: <strong>R$ 300,00</strong></li>
                  <li class="recebimentosPendentes">Venda de Bebidas Não Alcoólicas: <strong>R$ 200,00</strong></li>
                  <li class="recebimentosPendenteTotal"><strong>Total Pendente: R$ 3.000,00</strong></li>
              </ul>
            </div>
          </div>
        </div>

        <div id="litteContainer2">
          <div class="containerInfos-desktop">
            <h1 class="title3-desktop">Gastos do Evento</h1>
            <div class="littleContainerInfos-desktop">
              <div class="littleContainerGrafico-desktop"></div>
              <div class="linha-desktop"></div>
              <div class="littleContainersInfos-desktop">
                <h3 class="title4-desktop">Gastos Pendentes</h3>
                <ul>
                    <li class="recebimentosPendentes">Venda de Ingressos: <strong>R$ 500,00</strong></li>
                    <li class="recebimentosPendentes">Venda de Comidas Salgadas: <strong>R$ 800,00</strong></li>
                    <li class="recebimentosPendentes">Venda de Comidas Doces: <strong>R$ 600,00</strong></li>
                    <li class="recebimentosPendentes">Venda de Bebidas Alcoólicas: <strong>R$ 300,00</strong></li>
                    <li class="recebimentosPendentes">Venda de Bebidas Não Alcoólicas: <strong>R$ 200,00</strong></li>
                    <li class="recebimentosPendenteTotal"><strong>Total Pendente: R$ 3.000,00</strong></li>
                </ul>
              </div>
              <div class="linha-desktop"></div>
              <div class="littleContainersInfos-desktop">
                <h3 class="title4-desktop">Gastos</h3>
                <ul>
                    <li class="recebimentosPendentes">Venda de Ingressos: <strong>R$ 500,00</strong></li>
                    <li class="recebimentosPendentes">Venda de Comidas Salgadas: <strong>R$ 800,00</strong></li>
                    <li class="recebimentosPendentes">Venda de Comidas Doces: <strong>R$ 600,00</strong></li>
                    <li class="recebimentosPendentes">Venda de Bebidas Alcoólicas: <strong>R$ 300,00</strong></li>
                    <li class="recebimentosPendentes">Venda de Bebidas Não Alcoólicas: <strong>R$ 200,00</strong></li>
                    <li class="recebimentosPendenteTotal"><strong>Total Pendente: R$ 3.000,00</strong></li>
                </ul>
              </div>
            </div>
          </div>
        <div id="containerSecondInf-desktop">
          <div id="containerFluxoCaixa-desktop">
            <h3 class="title5-desktop">Fluxo de Caixa</h3>
          </div>
          <div id="containerAnaliEvento-desktop">
            <h3 class="title5-desktop">Análise do Evento</h3>
            <div class="analise">
              <p class="textAnalise">
                Ao analisar os gráficos de gastos e recebimentos so seu evento mostra um controle eficiente das despesas e um aumento 
                significativo nas receitas. Nos gráficos de gastos, observa-se que os custos foram dentro do planejado, evitando excessos
                e realocando recursos para áreas mais estratégicas, como marketing e experiência do público. Já os gráficos de recebimento
                indicam um crescimento constante nas vendas de ingressos e outros serviços, alcançando o pico durante o evento. Esse equilíbrio 
                entre controle de gastos e maximização de receitas demonstra o sucesso financeiro do evento.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
