
<div class="d-xs-block d-md-none">
<footer>
  <div class="redeSocial">
    <img class ="iconsM" src="../../../../assets/Elementos/whatsapp.png">
    <img class ="iconsM" src="../../../../assets/Elementos/Instagram.png">
    <img class ="iconsM" src="../../../../assets/Elementos/facebook.svg">
  </div>
  <div class="ContainerCopyrightM">
    <p class="copy-M">Copyright ©2024</p>
  </div>
</footer>
</div>

<div class="d-none d-md-block d-xxl-block">
  <footer>
    <div class="redeSocialPc">
      <img class ="iconsPc" src="../../../../assets/Elementos/whatsapp.png">
      <img class ="iconsPc" src="../../../../assets/Elementos/Instagram.png">
      <img class ="iconsPc" src="../../../../assets/Elementos/facebook.svg">
    </div>
    <div class="ContainerCopyrightPc">
      <p class="copy-Pc">Copyright ©2024</p>
    </div>
  </footer>
</div>

