footer {
  background-color: var(--cor-footer);
  color: var(--text-color);
  text-align: center;
}

.telefone, .redeSocial {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 13vw; 
  
}

.telefone i, .redeSocial i {
  font-size: 7vw; 
  color: var(--text-color); 
  cursor: pointer;
  padding-top: 2vh;
  padding-bottom: 2vh;
}
.redeSocial{
  padding: 6vw 0;
}
.ContainerCopyrightM {
  background-color: #000;
  color: var(--text-color);
  text-align: center;
  width:100%;
  padding: 1.5vw 0;
  display:flex;
  align-items: center;
  justify-content: center;
}
.ContainerCopyrightPc {
  background-color: #000;
  color: var(--text-color);
  text-align: center;
  width:100%;
  padding: 1.5vw 0;
  display:flex;
  align-items: center;
  justify-content: center;
}

.redeSocialPc{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6vw; 
  padding: 3vw 0;
  font-size: 3vw; 
  cursor: pointer;
}
.iconsM{
  width:8vw;
  object-fit: contain;
}
.iconsPc{
  width:3.5vw;
}
.copy-Pc{
  margin:0;
  font-size: 1vw;;
}