<div class=".d-xs-block d-md-none">
    <section id="ContainerText-Criacao">
        <h1>Criação</h1>
        <div id="text-Criacao">
            <p>
                Crie seu próximo evento de forma simples e eficiente com a EventFy! 
                Nossa plataforma foi desenvolvida para facilitar a vida de quem quer organizar eventos incríveis, sem complicações. 
                Com a EventFy, você tem tudo em um só lugar: desde o planejamento até a execução, com ferramentas que garantem agilidade 
                e controle total. Venha para a EventFy e crie experiências inesquecíveis com apenas alguns cliques. Deixe que a tecnologia trabalhe a seu favor 
                e surpreenda seus convidados. Comece agora e transforme seus eventos em grandes sucessos!
            </p>
        </div>
    </section>

    <section id="ContainerBtn-Criacao">
        <button [routerLink]="['/formulario']" id="btn-criarEvento">Criar Evento</button>
    </section>
</div>

<div class="d-none d-md-block d-xxl-block">
        <mat-grid-list cols="2" rowHeight="65vh">
            <mat-grid-tile>
                <div id="ContainerText-CriacaoMd">
                    <h1>Criação</h1>
                    <div id="line-CriacaoMd"></div>
                    <p id="text-Md">
                        Crie seu próximo evento de forma simples e eficiente com a EventFy! 
                        Nossa plataforma foi desenvolvida para facilitar a vida de quem quer organizar eventos incríveis, sem complicações. 
                        Com a EventFy, você tem tudo em um só lugar: desde o planejamento até a execução, com ferramentas que garantem agilidade 
                        e controle total. Venha para a EventFy e crie experiências inesquecíveis com apenas alguns cliques. Deixe que a tecnologia trabalhe a seu favor 
                        e surpreenda seus convidados. Comece agora e transforme seus eventos em grandes sucessos!
                    </p>
                    <div id="ContainerBtn-CriacaoMd"> 
                        <button [routerLink]="['/formulario']" id="btn-criarEvento">Criar Evento</button>
                    </div>
                </div>
            </mat-grid-tile>

            <mat-grid-tile id="ContainerImg-Criacao">
                <img src="../../../../assets/Elementos/CriacaoImg.png" class="img-fluid" id="img-Criacao">
            </mat-grid-tile>
        </mat-grid-list>
</div>
