<app-header></app-header>
<div class=".d-xs-block d-md-none">
    <div id="background">
        <div id="espaco"></div>
        <div id="containerCard-Funcionalidades">
            <fieldset class="formFieldset">
                <legend>
                    <div id="block-Icon"><img src="../../../../assets/Elementos/historicoImg.png"  class="icon"></div>
                </legend>
                <div id="containerCard-Conteudo">
                    <h1>Histórico</h1>
                    <p>Descubra como a história dos eventos evoluiu e organize o seu com facilidade!</p>
                    <button mat-stroked-button >Visitar</button>
                </div>
            </fieldset>
            <fieldset class="formFieldset">
                <legend>
                    <div id="block-Icon"><img src="../../../../assets/Elementos/futurosImg.png"  class="icon"></div>
                </legend>
                <div id="containerCard-Conteudo">
                    <h1>Futuros Eventos</h1>
                    <p>Futuros Eventos que irão acontecer com ajuda da EventFy na organização!</p>
                    <button mat-stroked-button >Visitar</button>
                </div>
            </fieldset>
            <fieldset class="formFieldset">
                <legend>
                    <div id="block-Icon"><img src="../../../../assets/Elementos/agendaImg.png"  class="icon2"></div>
                </legend>
                <div id="containerCard-Conteudo">
                    <h1>Agenda</h1>
                    <p>Organize todos os seus compromissos com a agenda. Seu dia a dia na palma da mão</p>
                    <button mat-stroked-button >Visitar</button>
                </div>
            </fieldset>
            <fieldset class="formFieldset">
                <legend>
                    <div id="block-Icon"><img src="../../../../assets/Elementos/financeiroImg.png"  class="icon"></div>
                </legend>
                <div id="containerCard-Conteudo">
                    <h1>Financeiros</h1>
                    <p>Simplifique a gestão financeira de sua festa e acompanhe seu fluxo de caixa.</p>
                    <button mat-stroked-button >Visitar</button>
                </div>
            </fieldset>
        </div>
    </div>
</div>


<div class="d-none d-md-block d-xxl-block" id="container-funcionalidades">
  <div class="backgroundMd">
    <mat-grid-list cols="2" rowHeight="70vh">
      <mat-grid-tile class="backgroundMd">
        <div id="containerCard-FuncionalidadesMdRight">
          <fieldset class="formFieldsetMD">
            <legend>
                <div id="block-Icon"><img src="../../../../assets/Elementos/historicoImg.png"  class="icon"></div>
            </legend>
            <div id="containerCard-Conteudo">
                <h1>Histórico</h1>
                <p>Descubra como a história dos eventos evoluiu e organize o seu com facilidade!</p>
                <button mat-stroked-button >Visitar</button>
            </div>
          </fieldset>
          <fieldset class="formFieldsetMD">
            <legend>
              <div id="block-Icon"><img src="../../../../assets/Elementos/futurosImg.png"  class="icon"></div>
          </legend>
          <div id="containerCard-Conteudo">
              <h1>Futuros Eventos</h1>
              <p>Futuros Eventos que irão acontecer com ajuda da EventFy na organização!</p>
              <button mat-stroked-button >Visitar</button>
          </div>
          </fieldset>
        </div>
      </mat-grid-tile>
      <mat-grid-tile class="backgroundMd">
        <div id="containerCard-FuncionalidadesMdLeft">
          <fieldset class="formFieldsetMDright">
            <legend>
              <div id="block-Icon"><img src="../../../../assets/Elementos/agendaImg.png"  class="icon2"></div>
            </legend>
            <div id="containerCard-Conteudo">
              <h1>Agenda</h1>
              <p>Organize todos os seus compromissos com a agenda. Seu dia a dia na palma da mão</p>
              <button mat-stroked-button >Visitar</button>
            </div>
          </fieldset>
          <fieldset class="formFieldsetMDright">
            <legend>
              <div id="block-Icon"><img src="../../../../assets/Elementos/financeiroImg.png"  class="icon"></div>
            </legend>
            <div id="containerCard-Conteudo">
                <h1>Financeiros</h1>
                <p>Simplifique a gestão financeira de sua festa e acompanhe seu fluxo de caixa.</p>
                <button mat-stroked-button >Visitar</button>
            </div>
            </fieldset>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>
