#background
{
    width: 100%;
    background-color: #f6bb7c;
    margin-bottom: 10%;
    padding-bottom: 1.5vh;
}
#espaco{
    height: 1px;
}
#containerCard-Funcionalidades,#containerCard-FuncionalidadesMd
{
    margin-top: 10%;
}
.formFieldset, .formFieldsetMD, .formFieldsetMDright
{
    border-radius: 15px;
    width: 80vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    min-width: revert;
    margin: revert;
    padding: 0 0% 1.5% 3%;
    border: 1.5px solid #000;
    margin-bottom: 30px;
    background-color: aliceblue;
    margin-left: 10%;
}
legend {
    float: none;
    width: auto;
    margin: 0;
}

#block-Icon
{
    width: 45px;
    background-color: var(--cor-secundaria);
    height: 45px;
    border-radius: 8px;
    text-align: center;
}

.icon
{
    width: 60%;
    margin-top: 20%;
}
.icon2
{
    margin-top: 10%;
    width: 80%;
}
#containerCard-Conteudo
{
    width: 90%;
}
#containerCard-Conteudo h1
{
    font-weight: bold;
    margin-top: 2%;
    margin-bottom: 0;
}
#containerCard-Conteudo p
{
    font-size: 1.3vw;
}
#containerCard-Conteudo button
{
    border: none;
    background-color: var(--cor-secundaria);
    width: 30%;
    height: 4vh;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1.5vh;
}



/*tela desktop*/

#containerCard-FuncionalidadesMdRight
{
    margin-right: 15%;
}
#containerCard-FuncionalidadesMdLeft
{
    margin-right: 10%;
}
.formFieldsetMD
{
  width: 35vw;
}
.formFieldsetMDright
{
  width: 35vw;
}
.backgroundMd
{
  background: #f6bb7c;
}
