@import url(bootstrap-icons/font/bootstrap-icons.css);

* {
  font-family: "Inter";
}

:root {
  --cor-primaria: #fcfcfc;
  --cor-secundaria: #EF820D;
  --cor-footer: #252525;
  --text-color: #fcfcfc;
  --text-color-gray: #484848;
}