* {
    color: #000;
}

#background {
    background-color: #FFC585;
}

#container-title {
    padding: 18vw 0 1.5vw 0;
}

#h1-mobile {
    text-align: center;
    color: #000;
    font-size: 6vw;
    font-weight: bold;
}

#main-mobile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.section-eventos-mobile {
    background: #fff;
    border: 1px solid #000;
    border-radius: 15px;
    width: 80%;
    margin: 2.5vw 0;
    padding: 2vw 0 2vw 3vw;

}

.containerNome-mobile {
    width: 100%;
    display: inline-flex;
    align-items: center;
}

.h1-nomeEvento-mobile {
    width: 45%;
    padding-top: 3vw;
    font-size: 5vw;
    font-weight: bold;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}


.img-evento-mobile {
    width: 6vw;
}

.imgfotoEvento-mobile {
    border: 1px solid #000;
    float: right;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 12vw;
    height: 12vw;
    background: #fff;
    margin-left: 4vw;
    border-radius: 10px;
}

.infoEventos-mobile {
    display: inline-flex;
    width: 100%;
}

.containerLeftInfo-mobile, .containerRightInfo-mobile {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    width: 34vw;
    padding-right: 1.5vw;
}

.containerRightInfo-mobile {
    padding-left: 3vw;
    width: auto;
}

.infoDataEvento-mobile, .infoLocalEvento-mobile {
    padding: 1vw 0;
    font-size: 3vw;
}

.infoLinha-mobile, .infoLinha-desktop {
    height: 10vw;
    width: 0.25vw;
    background: #000;
    margin-top: 20px;
}

.infoLinha-desktop {
  height: 7vw;
  width: 0.2vw;
}

.infoHInicioEvento-mobile, .infoHFimEvento-mobile {
    font-size: 3vw;
    padding: 1vw 0;
}

#container-titleDesktop {
  padding: 11vw 0 1.5vw 0;
}

#h1-Desktop {
  text-align: center;
  color: #000;
  font-size: 3.5vw;
  font-weight: bold;
}

#main-Desktop {
  display: flex;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.section-eventos-desktop {
  background: #fff;
  border: 1px solid #000;
  border-radius: 15px;
  width: 40%;
  margin: 2.5vw 0;
  padding: 2vw 0 2vw 3vw;
  height: 35vh;
  cursor: pointer;
}

.section-eventos-desktop:hover {
  background: #f0f0f0; 
  border-color: #555; 
  transform: scale(1.05); 
  transition: all 0.3s ease; 
}


.containerNome-desktop {
  width: 100%;
  display: inline-flex;
  align-items: center;
  height: 13vh;
}

.h1-nomeEvento-desktop {
  width: 45%;
  padding-top: 2vw;
  font-size: 1.6vw;
  font-weight: bold;
  display: inline-block;
  white-space: nowrap; 
  overflow: hidden; 
  text-overflow: ellipsis; 
}

.imgfotoEvento-desktop {
  border: 1px solid #000;
  float: right;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5vw;
  height: 5vw;
  background: #fff;
  margin-left: 4vw;
  border-radius: 10px;
}

.img-evento-desktop {
  width: 2.5vw;
}

.infoEventos-desktop {
  display: inline-flex;
  width: 100%;
}

.containerLeftInfo-desktop {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  width: 43%;
  padding-right: 1.5vw;
}

.containerRightInfo-desktop{
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  width: 50%;
  padding-right: 1.5vw;
  margin-left: 5%;
}

.infoDataEvento-desktop, .infoLocalEvento-desktop{
  padding: 1vw 0;
  font-size: 1.2vw;
}

.infoLocalEvento-desktop {
  display: inline-block;
  max-width: 200px; 
  white-space: nowrap; 
  overflow: hidden; 
  text-overflow: ellipsis; 
}


.infoHInicioEvento-desktop, .infoHFimEvento-desktop {
  font-size: 1.2vw;
  padding: 1vw 0;
}

#grandContainer{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

