<div class="d-xs-block d-md-none" id="background">
  <section id="container-title">
    <h1 id="h1-mobile">Meus Eventos</h1>
  </section>
  <main id="main-mobile">
    <section class="section-eventos-mobile" *ngFor="let evento of eventos" (click)="verDetalhes(evento)">
      <div class="containerNome-mobile">
        <h1 class="h1-nomeEvento-mobile">{{ evento.nomeEvento }}</h1>
        <div class="imgfotoEvento-mobile">
          <img class="img-fluid img-evento-mobile" src="../../../assets/Elementos/imgEventoExistente.svg">
        </div>
      </div>
      <div class="infoEventos-mobile">
        <div class="containerLeftInfo-mobile">
          <span class="infoDataEvento-mobile"><b>Data: </b>{{evento.dataEvento | date: 'dd/MM/yyyy'}}</span>
          <span class="infoLocalEvento-mobile"><b>Local: </b> {{evento.localEvento}}</span>
        </div>
        <div class="infoLinha-mobile"></div>
        <div class="containerRightInfo-mobile">
          <span class="infoHInicioEvento-mobile"><b>Horário início: </b>{{evento.horarioInicio}}</span>
          <span class="infoHFimEvento-mobile"><b>Horário término: </b> {{evento.horarioFim}}</span>
        </div>
      </div>
    </section>
  </main>
</div>

<div class="d-none d-md-block d-xxl-block" id="background">
  <section id="container-titleDesktop">
    <h1 id="h1-Desktop">Meus Eventos</h1>
  </section>
  <div id="grandContainer">
    <main id="main-Desktop">
      <section class="section-eventos-desktop" *ngFor="let evento of eventos" (click)="verDetalhes(evento)">
        <div class="containerNome-desktop">
          <h1 class="h1-nomeEvento-desktop">{{ evento.nomeEvento }}</h1>
          <div class="imgfotoEvento-desktop">
            <img class="img-fluid img-evento-desktop" src="../../../assets/Elementos/imgEventoExistente.svg">
          </div>
        </div>
        <div class="infoEventos-desktop">
          <div class="containerLeftInfo-desktop">
            <span class="infoDataEvento-desktop"><b>Data: </b>{{evento.dataEvento | date: 'dd/MM/yyyy'}}</span>
            <span class="infoLocalEvento-desktop"><b>Local: </b> {{evento.localEvento}}</span>
          </div>
          <div class="infoLinha-desktop"></div>
          <div class="containerRightInfo-desktop">
            <span class="infoHInicioEvento-desktop"><b>Horário início: </b>{{evento.horarioInicio}}</span>
            <span class="infoHFimEvento-desktop"><b>Horário término: </b> {{evento.horarioFim}}</span>
          </div>
        </div>
      </section>
    </main>
  </div>
</div>



124

,
