<div class="d-xs-block d-md-none" id="background">
    <section id="container-title">
        <h1>Meus Eventos</h1>
    </section>
    <section>
        <div class="card">
            <div class="containerRight">
                <h1>Nome Evento</h1>

                <p>Data:</p>
                <P>Local do evento</P>
            </div>
            <div class="containerLeft">
                <P>Horario Inicio</P>
                <p>Horario Fim</p>
            </div>
        </div>
    </section>
</div>
